<%- if controller_name != 'sessions' %>
  <%= link_to "Entrar", new_session_path(:user), class: "btn" %><br />
<% end -%>

<!-- Not Registered -->
Não está cadastrado? <%= link_to "Cadastre-se", new_registration_path(:user)  %>
<br>
<br>

<!-- Forgot Password -->
<small>
	<a href="#forgotPasswordModal" role="button" data-toggle="modal">Esqueceu tua senha?</a>
	<br>
</small>
<div id="forgotPasswordModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ModalResetarSenha" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="ModalResetarSenha">Resetar senha</h3>
	</div>
	<div class="modal-body">
		<%= form_for(:user, :url => password_path(:user), :html => { :method => :post }) do |f| %>
		  <%= devise_error_messages! %>
		  <%= f.email_field :email, required: true, class: "input-large", placeholder: "Email cadastrado" %>
		  <%= f.submit "Ok", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>

<!-- Confirmation Email -->
<!-- link_to "Não recebou instruções de confirmação?", new_confirmation_path(:user) -->
<small>
	<a href="#resendConfirmationModal" role="button" data-toggle="modal">Não recebeu email de confirmação?</a>
	<br>
</small>

<div id="resendConfirmationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ModalConfirmacao" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="ModalConfirmacao">Reenviar email de confirmação</h3>
	</div>
	<div class="modal-body">
		<%= form_for(:user, :url => confirmation_path(:user), :html => { :method => :post }) do |f| %>
			<%= devise_error_messages! %>
			<%= f.email_field :email, required: true, class: "input-large", placeholder: "Email cadastrado" %>
			<%= f.submit "Reenviar", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>