<!-- Make sure you pass values for "destinyPath" and "placeholder" by the RENDER call -->
<div class="mysearch">
	<%= form_tag destinyPath, method: 'get', class: "form-search" do %>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
		<%= hidden_field_tag :view, params[:view] %>
		<%= hidden_field_tag :course, params[:course] %>
		<i class="icon-search"></i>
		<%= text_field_tag :search, params[:search], class: "search-query", placeholder: placeholder %>
	<% end %>
</div>