<!-- Make sure you pass values for "destinyPath" and "sortbyOptions" by the RENDER call -->
<%= form_tag destinyPath, method: 'get' do %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <%= hidden_field_tag :view, params[:view] %>
  <%= hidden_field_tag :course, params[:course] %>
  <%= hidden_field_tag :search, params[:search] %>
  <%= hidden_field_tag :direction, params[:direction] %>
  Ordenar por 
  <div class="mySelect">
    <%= select_tag :sort, sortbyOptions, class: "input-medium", style: "margin: 0;", :onchange => 'this.form.submit()' %>
  </div>
  <%= if @direction=="asc"
    link_to raw("<i class=\"icon-arrow-down\"></i>"), params.merge(direction: "desc", page: nil), class: "blacktext no-decoration", title: "Inverter ordem"
  else
    link_to raw("<i class=\"icon-arrow-up\"></i>"), params.merge(direction: "asc", page: nil), class: "blacktext no-decoration", title: "Inverter ordem"
  end %>
<% end %>