<ul class="nav nav-pills">
  <% thisClass = "" %>
  <% if @viewMode == :list %>
    <% thisClass += "active" %>
  <% end %>
  <li id="list-view" class="<%=thisClass%>"><%= link_to raw("<i class=\"icon-reorder\"></i>"), params.merge(view: "list"), title: "Ver em LISTA" %></li>
  
  <% thisClass = "" %>
  <% if @viewMode == :thumbs %>
    <% thisClass += "active" %>
  <% end %>
  <li id="thumbs-view" class="<%=thisClass%>"><%= link_to raw("<i class=\"icon-th\"></i>"), params.merge(view: "thumbs"), title: "Ver em MINIATURAS" %></li>
</ul>

<!-- <div class="btn-toolbar">
  <div class="btn-group">
    <% thisClass = "btn" %>
    <% if @viewMode == :list %>
      <% thisClass += " active" %>
    <% end %>
    <%= link_to raw("<i class=\"icon-list\"></i> Lista"), params.merge(:view => "list"), class: thisClass, id: "list-view", remote: true %>
    
    <% thisClass = "btn" %>
    <% if @viewMode == :thumbs %>
      <% thisClass += " active" %>
    <% end %>
    <%= link_to raw("<i class=\"icon-th\"></i> Miniaturas"), params.merge(:view => "thumbs"), class: thisClass, id: "thumbs-view", remote: true %>
  </div>
</div> -->