<div class="center hero-unit">
	
    <div class="row-fluid">
	    
	    <div class="span5">
	    	<img src="/assets/logo.png">
	    </div>
		
		<div class="span7">
			<!--<img src="/assets/inf.png">-->

			<p>
				Teu programa do Neander ficou mais rápido que o do Weber? Tirou a nota mais alta da turma no relatório de Redes? Não deixa mais teus projetos <strong>sumirem na obscuridão</strong> das páginas pessoais da INF!
			</p>

			<p>
				No infHUB é fácil <strong>publicar</strong> teus melhores trabalhos, <strong>curtir</strong> os trabalhos dos teus colegas e até <strong>descobrir</strong> rapidamente qual foi o joguinho mais bacana que alguém já fez pra Projeto de Computação Gráfica.
			</p>
			
			<p>
				<%= link_to "Leia mais...", about_path %>
			</p>
		</div>
    </div>

	<center>
		<!-- Search Form -->
		<%= form_tag projects_path, method: 'get', class: "form-search" do %>
			<div class="my-input">
				<i class="icon-search"></i>
				<%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Buscar projeto por título ou descrição" %>
			</div>
			
		<% end %>
	</center>
</div>

<center>

	<h4>...ou selecione uma disciplina:</h4>
	<br>

	<% columns = 3 %>
	<div class="row-fluid">
		<ul class="unstyled">
			<% i=0 %>
			<% Course.all.each do |c| %>
				<% if i%columns == 0 %>
					<% if i!=0 %>
						</div>
					<% end %>
					<div class="row-fluid">
				<% end %>
				
				<li class=<%="span#{12/columns}"%> > <%=link_to c.name, "#"%> </li>

				<% i = i+1 %>
			<% end %>
		</ul>
	</div>

	<!-- <%= link_to raw("Comece já!"), (user_signed_in? ? projects_path : new_user_session_path), class: "btn btn-info btn-large" %> -->

</center>