<div class="homepage">

	<% #if user_signed_in? %>
	<!-- DEPRECATED -->
	<% if false %>
	  <!-- My Notifications section -->
	  <br>
	  <div class="row-fluid">
	      <div class="news-list">
	        <legend>
	          Atividade nos Meus Trabalhos
	        </legend>
	        <% if @notifications.empty? %>
	          <center class="muted">
	          Sem atividade a exibir.
	          </center> 
	        <% else %>
	          <ul>
	            <% @notifications.each do |a| %>
	                <li>
	                <%= render_activity a %>
	                <small>
	                  <p class="muted pull-right"></i><%= time_ago_in_words(a.created_at) %></p>
	                </small>
	              </li>
	            <% end %>
	          </ul>
	          <small>
	            <% # link_to "Ver mais", activities_path %>
	          </small>
	        <% end %>
	      </div>
	  </div>
	  <br>
	<% end %>

	<!-- PRESENTATION HOMEPAGE -->
	<% if not user_signed_in? %>
		<div class="center hero-unit">
			
		    <div class="content">
			    <div class="row-fluid">
				    
				    <div class="span5">
				    	<center class="logo-img">
				    		<img src="/assets/logo.png">
				    	</center>
				    </div>
					
					<div class="span7">
						<!--<img src="/assets/inf.png">-->

						<h1>A rede de compartilhamento de trabalhos do INF</h1>

						<div class="body">

							<p>
								No infHUB é fácil publicar teus trabalhos e encontrar e curtir os dos teus colegas. Além disso, tua página ainda serve como um portfólio pessoal. <%= link_to "Leia mais...", about_path, id: "read-more-link" %>
							</p>

							<div id="featuresList">
								<table>
									<tr>
										<td class="td-left text-center"><i class="icon-cogs icon-large"></i></td>
										<td>Aprenda a usar tecnologias com exemplos que funcionam</td>
									</tr>
									<tr>
										<td class="td-left text-center"><i class="icon-ok icon-large"></i></td>
										<td>Confira os detalhes que não podem faltar no seu relatório</td>
									</tr>
									<tr>
										<td class="td-left text-center"><i class="icon-book icon-large"></i></td>
										<td>Conheça mais sobre uma disciplina vendo os trabalhos dela</td>
									</tr>
									<tr>
										<td class="td-left text-center"><i class="icon-group icon-large"></i></td>
										<td>Socialize e compartilhe o conhecimento com seus colegas</td>
									</tr>
									<tr>
										<td class="td-left text-center"><i class="icon-lightbulb icon-large"></i></td>
										<td>Descubra e se inspire com alguns dos trabalhos mais criativos do INF</td>
									</tr>
								</table>
							</div>
							
							<!-- Like Button -->
							<div class="pull-right">
								<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fhub.inf.br&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font=tahoma&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px; width:110px;" allowTransparency="true"></iframe>
							</div>

							<!-- <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Finfhub.herokuapp.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font=tahoma&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe> -->
							
							<!-- <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Finfhub.herokuapp.com&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;font=tahoma&amp;colorscheme=light&amp;action=like&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:70px; height:70px; position: absolute; bottom: 10px; right: 10px;" allowTransparency="true"></iframe> -->
						</div>
					</div>
			    </div>
		    </div>
		    
		    <br>
		
			<div class="row-fluid">
				<div class="text-center">
					<%= render "shared/global_search_form", placeholder: "Buscar em #{@totalProjects} trabalhos, #{@totalCourses} disciplinas, #{@totalUsers} usuários e #{@totalTags} tags", clearable: false %>
				</div>
			</div>


		</div>

	<!-- DASHBOARD  -->
	<% else %>

		<div class="hero-unit">
			<div class="content">
				<div class="row-fluid">
				    
				    <div class="span2">
				    	<div class="text-center">
				    		<%= link_to image_tag(@person.avatar.url, class: "img-polaroid", style: "max-height: 100px; width: auto;"), profile_path(current_user.person.nick) %>
				    	</div>
				    </div>
					
					<div class="span7">
						<h3>Bem-vindo <%= link_to @person.name, profile_path(current_user.person.nick)%>.</h3>

						<!-- <p> -->
							<ul class="dotted-horizontal-list hero-utility-links smaller">
								<li><%= link_to nav_icon("Meu Perfil", ""), profile_path(current_user.person.nick) %></li>
								<li><%= link_to nav_icon("Sobre o infHUB", ""), about_path %></li>
								<li><%= link_to nav_icon("Sair",""), destroy_user_session_path, :method => :delete %></li>
							</ul>
						<!-- </p> -->
					</div>

					<div class="span3 hero-stats">
						<div class="row-fluid">
							<div class="span6">
								<h4 class="title username-text"><%= link_to @person.nick, profile_path(current_user.person.nick) %></h4>
								<p>
									<b><%= @person.projects.size %></b> trabalhos<br>
									<b><%= @person.getTotalLikes %></b> curtir recebidos<br>
									<b><%= @person.getTotalViews %></b> visualizações
								</p>
							</div>
							<div class="span6">
								<h4 class="title infhub-text"><%= link_to "infHUB", about_path %></h4>
								<p>
									<b><%= @totalProjects %></b> trabalhos<br>
									<b><%= @totalUsers %></b> usuários<br>
									<b><%= @totalCourses %></b> disciplinas<br>
									<b><%= @totalTags %></b> tags
								</p>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>

		<br>

		<div class="content">

			<div class="row-fluid">
			<!--<div class="span3">
					<center>
						<%= link_to image_tag(@person.avatar, class: "img-polaroid"), profile_path(current_user.person.nick) %>
					</center>
					
					<h2 class="username-text"><%= title @person.name %> <small><%=@person.nick%></small></h2>
					
					<center>
						<ul class="dotted-horizontal-list">
							<li><%= link_to nav_icon("Adicionar trabalho",""), new_project_path %></li>
							<li><%= link_to nav_icon("Editar Perfil", ""), edit_person_path(current_user.person) %></li>
							<li><%= link_to nav_icon("Sair",""), destroy_user_session_path, :method => :delete %></li>
						</ul>
					</center>
				</div>-->

	 			<div class="span4 block <%= @numSuggestions>0 ? 'block-red' : '' %>">
	 				<div class="news-list">
						<legend>
							Ações Recomendadas <%= if @numSuggestions!=0 then "(#{@numSuggestions})" end %>
						</legend>

						<% if @numSuggestions==0 %>
							<div class="muted text-center">
								Nenhuma recomendação no momento.
							</div>
						<% else %>
							<ul>
								<% if @recommendedActions[:addProjects] %>
									<li>
										<i class="icon-plus-sign icon-large icon-grid"></i>
										Comece a compartilhar teus trabalhos com teus colegas, <%=link_to "adicione um trabalho", new_project_path%> ao <text class="infhub-text">infHUB</text>.
									</li>
								<% end %>

								<% if @recommendedActions[:incompleteProfile] %>
									<li>
										<i class="icon-user icon-large icon-grid"></i>
										Teu perfil está <%=@profileCompletePerc%>% completo. <%= link_to "Clique aqui para completá-lo.", edit_person_path(@person) %>
									</li>
								<% end %>

								<% if @recommendedActions[:likeProjects] %>
									<li>
										<i class="icon-thumbs-up-alt icon-large icon-grid"></i>
										Tu ainda não curtiu nenhum trabalho no infHUB. Seja legal e <%= link_to "encontre um trabalho bacana pra curtir.", projects_path %>
									</li>
								<% end %>

								<% if @recommendedActions[:tagProjects] %>
									<li>
										<i class="icon-tags icon-large icon-grid"></i>
										Adiciona tags ao teus trabalhos pra que sejam encontrados mais facilmente. Ainda tens <b><%=@untaggedProjects.size%></b> trabalho<%=my_pluralize @untaggedProjects.size%> sem tags:
										<ul class="news-sublist">
											<% @untaggedProjects.each do |p| %>
												<li>
													<%= link_to_project p %>
													<span class="pull-right"> <%= link_to raw("<i class=\"icon-pencil\"></i>"), edit_project_path(p) %> </span>
												</li>
											<% end %>
										</ul>
									</li>
								<% end %>
							</ul>
						<% end %>

					</div>
	 			</div>

				<!-- My Notifications section -->
				<div class="span8 block">
					<div class="news-list">
						<legend>
							<!-- <i class="icon-bell"></i> --> Atividades nos meus trabalhos <%= if @unreadNotifications!=0 then "(#{@unreadNotifications})" end %>
						</legend>

						<% if @notifications.empty? %>
							<div class="muted text-center">
								Sem notificações a exibir.
							</div>
						<% else %>
							<ul>
								<% @notifications.each do |a| %>
									<% unread = false %>
								    <% if a.created_at > current_user.current_sign_in_at %>
								    	<% unread = true %>
								    <% end %>
								    <li class=<%= unread ? "news-unread" : ""%> >
										<%= render_activity a %>
										<small>
											<p class="muted pull-right"><%= time_ago_in_words(a.created_at) %></p>
										</small>
									</li>
								<% end %>
							</ul>
							<small>
								<% # link_to raw("Ver mais <i class=\"icon-double-angle-right text-error\"></i> "), activities_path %>
							</small>
						<% end %>
					</div>

					<!-- Activities pagination -->
					<%= render "shared/pages_nav", items: @notifications %>

				</div>

			</div>

		</div>

	<% end %>

	<br>
	
	<div class="content">
		<!-- Tag Cloud --> 
		<div class="row-fluid">
			<div class="well well-headed">
				<header>
					Tags mais populares
				</header>
				<%= render "shared/tag_cloud", tags: @tags %>
			</div>
		</div>
		
		<br>

		<!-- Lists -->
		<div class="row-fluid">

			<!-- New projects -->
			<div class="span4">
				<div class="news-list">
					<legend><i class="icon-file"></i> Novos Trabalhos</legend>
					<ul>
						<% @lastProjects.each do |p| %>
							<li>
								<header><%= link_to_project p %></header>
								<%= raw(getContentIcons(p)) %>
								<p class="author">por <%= p.people.collect { |guy| link_to guy.nick, profile_path(guy.nick) }.join(", ").html_safe %> </p>
								<small>
									<p><i class="icon-book muted"></i> <%= link_to p.course.name, projects_path(course: p.course.id), class: "" %></p>
									<p class="muted"><i class="icon-time"></i> <%= time_ago_in_words(p.created_at) %></p>
								</small>
							</li>
						<% end %>
						<li class="small">
							<%= link_to raw("Ver mais <i class=\"icon-double-angle-right text-error\"></i> "), projects_path(sort: "date", direction: "desc") %>
						</li>
					</ul>
				</div>

			</div>

			<!-- New users -->
			<div class="span4">
				<div class="news-list">
					<legend><i class="icon-user"></i> Novos Usuários</legend>
					<ul>
						<% @lastPeople.each do |p| %>
							<li onmouseover="this.style.cursor='pointer'" onclick="window.location = '<%=profile_path(p.nick)%>'">
								<div class="avatar-left">
									<%= link_to image_tag(p.avatar.url(:small)), profile_path(p.nick), class: "no-decoration" %>
								</div>							
								<div>
									<header><%= link_to p, profile_path(p.nick) %></header>
									<p class="author"><%= p.name %></p>
									<small>
										<p class="muted"><i class="icon-time"></i> <%= time_ago_in_words(p.created_at) %></p>
									</small>
								</div>
							</li>
						<% end %>
						<li class="small">
							<%= link_to raw("Ver mais <i class=\"icon-double-angle-right text-error\"></i> "), people_path(sort: "date", direction: "desc") %>
						</li>
					</ul>
				</div>
			</div>

			<!-- Recent activity -->
			<div class="span4">
				<div class="news-list">
					<legend><i class="icon-rss"></i> Atividade Recente</legend>
					<ul>
						<% @globalActivities.each do |a| %>
						    <li>
						    	<table>
						    		<tr>
										<td style="width: 100%;">
											<%= render_activity a %>
											<small>
												<p class="muted"><i class="icon-time"></i> <%= time_ago_in_words(a.created_at) %></p>
											</small>
										</td>
						    			<td>
											<% if user_signed_in? and a.owner==current_user %>
												<span><%= link_to raw("<i class=\"icon-remove-sign\"></i>"), activity_path(a), title: "Deletar atividade", confirm: "Tem certeza?", method: "delete", class: "no-decoration" %>
												</span>
											<% end %>
										</td>
									</tr>
								</table>
							</li>
						<% end %>
					</ul>
					<small>
						<% # link_to raw("Ver mais <i class=\"icon-double-angle-right text-error\"></i> "), activities_path %>
					</small>
				</div>
			</div>

		</div>
	</div>

	<br>
	<br>

</div>
