<div class="homepage">

	<div class="center hero-unit">
		
	    <div class="row-fluid">
		    
		    <div class="span5">
		    	<img src="/assets/logo.png">
		    </div>
			
			<div class="span7">
				<!--<img src="/assets/inf.png">-->

				<h1>A rede de compartilhamento de trabalhos do INF</h1>

				<p>
					Teu programa do Neander ficou mais rápido que o do Weber? Tirou a nota mais alta da turma no relatório de Redes? Inventou uma classe que finalmente resolve o problema de usar texturas em OpenGL? Não deixa teus projetos sumirem na obscuridão das páginas pessoais da INF!
				</p>

				<p>
					No infHUB é fácil publicar teus melhores trabalhos, curtir os trabalhos dos teus colegas e até descobrir rapidamente qual foi o joguinho mais bacana que alguém já fez pra Projeto de Computação Gráfica.
					<%= link_to "Leia mais...", about_path, class: "no-decoration" %>
				</p>
			</div>
	    </div>
	    
	    <br>
	
		<div class="row-fluid">
			<center>
				<%= form_tag projects_path, method: 'get', class: "form-search" do %>
					<%= render "shared/course_selector", placeholder: "Escolha uma disciplina..." %>
				<% end %>
			</center>
		</div>

	</div>

	<!-- Tag Cloud -->
    <% tag_cloud @tags, %w(nube1 nube2 nube3 nube4 nube5 nube6) do |name, css_class| %>
	  <%= link_to name, projects_path(search: name), class: css_class %>
	<% end %>

	<!-- My Notifications section -->
	<% if user_signed_in? %>
		<div class="row-fluid">
			<div class="offset2 span8">
				<div class="news">
					<legend>
						<span class="text-error"><i class="icon-bell"></i> Atividade nos Meus Projetos</span>
					</legend>

					<% if @myActivities.empty? %>
						<center class="muted">
						Sem atividade a exibir.
						</center>
					<% else %>
						<ul>
							<% @myActivities.each do |a| %>
							    <li>
									<%= render_activity a %>
									<small>
										<p class="muted pull-right"></i><%= time_ago_in_words(a.created_at) %></p>
									</small>
								</li>
							<% end %>
						</ul>
						<small>
							<% # link_to "Ver mais", activities_path %>
						</small>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>

	<!-- News lists -->
	<div class="row-fluid">
		<div class="span4">
			<div class="news">
				<legend>Novos Projetos</legend>
				<ul>
					<% @lastProjects.each do |p| %>
						<li>
							<header><%= link_to_project p %></header>
							<p class="author">por <%= link_to p.person, profile_path(p.person.nick) %></p>
							<small>
								<p class="muted"><i class="icon-book"></i><%= link_to p.course.name, projects_path(course: p.course.id), class: "muted" %></p>
								<p class="muted"><i class="icon-time"></i><%= time_ago_in_words(p.created_at) %></p>
							</small>
						</li>
					<% end %>
				</ul>
				<small>
					<%= link_to "Ver mais", projects_path(sort: "date", direction: "desc") %>
				</small>
			</div>

		</div>

		<div class="span4">
			<div class="news">
				<legend>Novos Usuários</legend>
				<ul>
					<% @lastPeople.each do |p| %>
						<li>
							<header><%= link_to p, profile_path(p.nick) %></header>
							<p class="author"><%= p.name %></p>
							<small>
								<p class="muted"><i class="icon-time"></i><%= time_ago_in_words(p.created_at) %></p>
							</small>
						</li>
					<% end %>
				</ul>
				<small>
					<%= link_to "Ver mais", people_path(sort: "date", direction: "desc") %>
				</small>
			</div>
		</div>

		<div class="span4">
			<div class="news">
				<legend>Atividade Recente</legend>
				<ul>
					<% @globalActivities.each do |a| %>
					    <li>
							<%= render_activity a %>
							<small>
								<p class="muted"><i class="icon-time"></i><%= time_ago_in_words(a.created_at) %></p>
							</small>
						</li>
					<% end %>
				</ul>
				<small>
					<% # link_to "Ver mais", activities_path %>
				</small>
			</div>
		</div>


	</div>

	<br>
	<br>

</div>