<div class="homepage">

	<% #if user_signed_in? %>
	<% if false %>
		<br>
		
		<!-- My Notifications section -->
		<div class="row-fluid">
			<div class="news-list">
				<legend>
					<i class="icon-bell"></i> Atividade nos Meus Projetos
				</legend>

				<% if @myActivities.empty? %>
					<center class="muted">
					Sem atividade a exibir.
					</center>
				<% else %>
					<ul>
						<% @myActivities.each do |a| %>
						    <li>
								<%= render_activity a %>
								<small>
									<p class="muted pull-right"></i><%= time_ago_in_words(a.created_at) %></p>
								</small>
							</li>
						<% end %>
					</ul>
					<small>
						<% # link_to raw("Ver mais <i class=\"icon-double-angle-right text-error\"></i> "), activities_path %>
					</small>
				<% end %>
			</div>
		</div>

		<!-- Pagination -->
		<center>
			<%= will_paginate @myActivities %>
		</center>
	<% end %>

	<% if not user_signed_in? %>
		<div class="center hero-unit">
			
		    <div class="row-fluid">
			    
			    <div class="span5">
			    	<center>
			    		<img src="/assets/logo.png">
			    	</center>
			    </div>
				
				<div class="span7">
					<!--<img src="/assets/inf.png">-->

					<h1>A rede de compartilhamento de trabalhos do INF</h1>

					<p>
						Teu programa do Neander ficou mais rápido que o do Weber? Tirou a nota mais alta da turma no relatório de Redes? Inventou uma classe que finalmente resolve o problema de usar texturas em OpenGL? Não deixa teus projetos sumirem na obscuridão das páginas pessoais da INF!
					</p>

					<p>
						No infHUB é fácil publicar teus melhores trabalhos, curtir os trabalhos dos teus colegas e até descobrir rapidamente qual foi o joguinho mais bacana que alguém já fez pra Projeto de Computação Gráfica.
						<%= link_to "Leia mais...", about_path, class: "no-decoration" %>
					</p>

					<!-- Like Button -->
					<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fhub.inf.br&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font=tahoma&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>

					<!-- <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Finfhub.herokuapp.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font=tahoma&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe> -->
					
					<!-- <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Finfhub.herokuapp.com&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;font=tahoma&amp;colorscheme=light&amp;action=like&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:70px; height:70px; position: absolute; bottom: 10px; right: 10px;" allowTransparency="true"></iframe> -->
				</div>
		    </div>
		    
		    <br>
		
			<div class="row-fluid">
				<center>
					<%= form_tag projects_path, method: 'get', class: "form-search" do %>
						<%= render "shared/course_selector", placeholder: "Escolha uma disciplina..." %>
					<% end %>
				</center>
			</div>

		</div>

	<% else %>

<!-- 		<br>
		<br> -->

		<div class="hero-unit">
			<div class="row-fluid">
			    
			    <div class="span2">
			    	<center>
			    		<%= link_to image_tag(@person.avatar.url, class: "img-polaroid", style: "max-height: 130px; width: auto;"), profile_path(current_user.person.nick) %>
			    	</center>
			    </div>
				
				<div class="span7">
					<h3>Bem-vindo <b><%= link_to @person.name, profile_path(current_user.person.nick) %></b> <%= link_to "(sair)", destroy_user_session_path, :method => :delete, class: "small" %></h3>
					<% #link_to nav_icon("Novo Projeto","icon-plus"), new_project_path, class: "btn btn-success btn-large" %>
					<% #link_to nav_icon("Meu Perfil", "icon-user"), edit_person_path(current_user.person), class: "btn btn-info" %>
					<% #link_to nav_icon("Editar Perfil", "icon-edit"), edit_person_path(current_user.person), class: "btn btn-info" %>
					<% #link_to nav_icon("Sair","icon-signout"), destroy_user_session_path, :method => :delete, class: "btn" %>
				</div>
		    </div>

		</div>

		<br>

		<div class="row-fluid person-profile ">
<!-- 			<div class="span3">
				<center>
					<%= link_to image_tag(@person.avatar, class: "img-polaroid"), profile_path(current_user.person.nick) %>
				</center>
				
				<h2 class="username-text"><%= title @person.name %> <small><%=@person.nick%></small></h2>
				
				<center>
					<ul class="dotted-horizontal-list">
						<li><%= link_to nav_icon("Novo Projeto",""), new_project_path %></li>
						<li><%= link_to nav_icon("Editar Perfil", ""), edit_person_path(current_user.person) %></li>
						<li><%= link_to nav_icon("Sair",""), destroy_user_session_path, :method => :delete %></li>
					</ul>
				</center>
			</div>
 -->

 			<% numSuggestions = @recommendedActions.values.count{|x|x==true} %>
 			<div class="span4 block <%= numSuggestions>0 ? 'block-red' : 'block-green' %>">
 				<div class="news-list">
					<legend>
						Ações Recomendadas (<%=numSuggestions%>)
					</legend>

					<% if numSuggestions==0 %>
						<center class="muted">
							Nenhuma recomendação no momento.
						</center>
					<% else %>
						<ul>
							<% if @recommendedActions[:addProjects] %>
								<li>
									<i class="icon-file-alt icon-large"></i>
									Comece a compartilhar teus trabalhos com teus colegas, <%=link_to "adicione um projeto", new_project_path%> ao infHUB.
								</li>
							<% end %>

							<% if @recommendedActions[:addAvatar] %>
								<li>
									<i class="icon-picture icon-large"></i>
									<%= link_to "Adicione um avatar ao seu perfil.", edit_person_path(@person) %>
								</li>
							<% end %>

							<% if @recommendedActions[:likeProjects] %>
								<li>
									<i class="icon-thumbs-up icon-large"></i>
									Tu ainda não curtiu nenhum trabalho no infHUB. Seja legal e <%= link_to "curta um trabalho bacana.", projects_path %>
								</li>
							<% end %>

							<% if @recommendedActions[:tagProjects] %>
								<li>
									<i class="icon-tags icon-large"></i>
									Adicione tags ao seus projetos pra que sejam encontrados mais facilmente. Ainda tens <b><%=@untaggedProjects.size%></b> projetos sem tags:
									<ul class="news-sublist">
										<% @untaggedProjects.each do |p| %>
											<li>
												<%= link_to_project p %>
												<span class="pull-right"> <%= link_to raw("<i class=\"icon-pencil\"></i>"), edit_project_path(p) %>
											</li>
										<% end %>
									</ul>
								</li>
							<% end %>
						</ul>
					<% end %>

				</div>
 			</div>

			<!-- My Notifications section -->
			<div class="span8 block">
				<div class="news-list">
					<legend>
						<!-- <i class="icon-bell"></i> --> Notificações
					</legend>

					<% if @myActivities.empty? %>
						<center class="muted">
							Sem notificações a exibir.
						</center>
					<% else %>
						<ul>
							<% @myActivities.each do |a| %>
							    <li>
									<%= render_activity a %>
									<small>
										<p class="muted pull-right"></i><%= time_ago_in_words(a.created_at) %></p>
									</small>
								</li>
							<% end %>
						</ul>
						<small>
							<% # link_to raw("Ver mais <i class=\"icon-double-angle-right text-error\"></i> "), activities_path %>
						</small>
					<% end %>
				</div>

				<!-- Activities pagination -->
				<center>
					<%= will_paginate @myActivities %>
				</center>

			</div>

		</div>

	<% end %>


	<!-- Tag Cloud -->
	<div id="tagcloud">
	    <% tag_cloud @tags, %w(cloud1 cloud2 cloud3 cloud4 cloud5 cloud6) do |t, css_class| %>
		  <%= link_to t.tag_text, projects_path(search: t.tag_text), class: css_class %>
		  <% if t!=@tags.last %>
		  	<span class="muted small">·</span>
		  <% end %>
		<% end %>
	</div>
	

	<!-- News-list lists -->
	<div class="row-fluid">
		<div class="span4">
			<div class="news-list">
				<legend>Novos Projetos</legend>
				<ul>
					<% @lastProjects.each do |p| %>
						<li>
							<header><%= link_to_project p %></header>
							<p class="author">por <%= link_to p.person, profile_path(p.person.nick) %></p>
							<small>
								<p class="muted"><i class="icon-book"></i><%= link_to p.course.name, projects_path(course: p.course.id), class: "muted" %></p>
								<p class="muted"><i class="icon-time"></i><%= time_ago_in_words(p.created_at) %></p>
							</small>
						</li>
					<% end %>
				</ul>
				<small>
					<%= link_to raw("Ver mais <i class=\"icon-double-angle-right text-error\"></i> "), projects_path(sort: "date", direction: "desc") %>
				</small>
			</div>

		</div>

		<div class="span4">
			<div class="news-list">
				<legend>Novos Usuários</legend>
				<ul>
					<% @lastPeople.each do |p| %>
						<li>
							<table border="0">
								<tr>
									<td>
										<%= link_to image_tag(p.avatar.url(:small)), profile_path(p.nick), class: "no-decoration" %>
									</td>

									<td>
										<header><%= link_to p, profile_path(p.nick) %></header>
										<p class="author"><%= p.name %></p>
										<small>
											<p class="muted"><i class="icon-time"></i><%= time_ago_in_words(p.created_at) %></p>
										</small>
									</td>
								</tr>
							</table>							
						</li>
					<% end %>
				</ul>
				<small>
					<%= link_to raw("Ver mais <i class=\"icon-double-angle-right text-error\"></i> "), people_path(sort: "date", direction: "desc") %>
				</small>
			</div>
		</div>

		<div class="span4">
			<div class="news-list">
				<legend>Atividade Recente</legend>
				<ul>
					<% @globalActivities.each do |a| %>
					    <li>
							<%= render_activity a %>
							<small>
								<p class="muted"><i class="icon-time"></i><%= time_ago_in_words(a.created_at) %></p>
							</small>
						</li>
					<% end %>
				</ul>
				<small>
					<% # link_to raw("Ver mais <i class=\"icon-double-angle-right text-error\"></i> "), activities_path %>
				</small>
			</div>
		</div>


	</div>

	<br>
	<br>

</div>