<!DOCTYPE html>
<html>
<body>

<head>
  <title>Galeria da INF</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>  
</head>

<div id="wrap">
	<div id="main">
  
		<header class="navbar navbar-fixed-top ">
		  <div class="navbar-inner">
		    <div class="container">
		      <nav>
		        <%= link_to "Galeria da INF", root_path, class: "brand"%>
		        <ul class="nav pull-right">
		          <li><%= link_to raw("<i class=\"icon-home\"></i> Início"), root_path %></li>
		          <li><%= link_to raw("<i class=\"icon-list\"></i> Projetos"), projects_path %></li>
		          <li><%= link_to raw("<i class=\"icon-user\"></i> Pessoas"), people_path %></li>
		          <li class="divider-vertical"></li>
		          <li>
		            <% if user_signed_in? %>  
		              <div class="btn-group"> %>
		                <%= link_to current_user.person.name, profile_path(current_user.person.nick), class: "btn"%>
		                  <button class="btn dropdown-toggle" data-toggle="dropdown">
		                  <span class="caret"></span>
		                </button>
		                <ul class="dropdown-menu">
		                  <!-- List of user options -->
		                  <%= link_to "Deslogar", destroy_user_session_path, :method => :delete %>
		                </ul>
		              </div>              
		            <% else %>  
		              <%= link_to "Entrar", new_user_session_path %>  
		            <% end %> 
		          </li>
		        </ul>
		      </nav>
		    </div>
		  </div>
		</header>

		<!-- Page content goes here -->
		<div class="container">
			<!-- Flash messages -->
			<% if notice %>
			  <div class="alert alert-success"><%= notice %></div> 
			<% end %>
			<% if alert %>
			  <div class="alert alert-error"><%= alert %></div> 
			<% end %>

			<%= yield %>
			
			<br>
			<br>
			<br>
		</div>

	</div>
</div>

<!-- Footer -->
<footer>
  <section class="container-fluid">

    <div class="row-fluid muted">
        <div class="span2">
          <header>Galeria da INF</header>
          <br>
          Desenvolvido por:
          <ul>
            <li>César Daudt</li>
            <li>Cristiano Dalbem</li>
            <li>João Gaiewski</li>
          </ul>
        </div>

        <div class="offset1 span5">
          Uma rede social de trabalhos da INF.
          Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. 
          <br>
          <%= link_to "Leia mais...", about_path %>
        </div>

        <div class="offset2 span2">
        	<img src="/assets/inf.png">
        </div>
    </div>

  </div>
</footer>

</body>

</html>
