<!DOCTYPE html>
<html>
<body>

<head>
  <title>Galeria da INF</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>  
</head>

<header class="navbar navbar-fixed-top ">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Galeria da INF", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><a href=<%=root_path%>> <i class="icon-home"></i> Home </a></li>
          <li><a href=<%=projects_path%>> <i class="icon-list"></i> Projects </a></li>
          <li><a href=<%=people_path%>> <i class="icon-user"></i> People </a></li>
          <li class="divider-vertical"></li>
          <li>
            <% if user_signed_in? %>  
              <div class="btn-group"> %>
                <%= link_to current_user.person.name, profile_path(current_user.person.nick), class: "btn"%>
                  <button class="btn dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <!-- List of user options -->
                  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                </ul>
              </div>              
            <% else %>  
              <%= link_to "Sign in", new_user_session_path %>  
            <% end %> 
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<!-- Flash messages -->
<% if notice %>
  <div class="alert alert-success"><%= notice %></div> 
<% end %>
<% if alert %>
  <div class="alert alert-error"><%= alert %></div> 
<% end %>

<!-- Page content goes here -->
<div class="container">
	<%= yield %>
</div>

<br />
<br />

<!-- Footer -->
<footer>
  <section class="container">

    <div class="row pull-left muted">
        <div class="span2">
          <header>Galeria da INF</header>
          <br>
          Desenvolvido por:
          <ul>
            <li>César Garcia Daudt</li>
            <li>Cristiano Medeiros Dalbem</li>
            <li>João Gilberto Gaiewski</li>
          </ul>
        </div>
        <div class="span4">
          Uma rede social de trabalhos da INF.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, est accumsan viverra laoreet, neque tortor aliquam lacus, vitae rutrum orci lectus non dui. Vestibulum. 
        </div>
    </div>

    <p class="row pull-right"><img src="/assets/inf.png"></p>

  </div>
</footer>

</body>

</html>
