<!DOCTYPE html>
<html>

<head>
	<%= title site: "infHUB" %>

	<%= metamagic [:property => "og:image", :content => "http://infhub.herokuapp.com/assets/logo.png"], [:property => "og:site_name", :content => "infHUB"], [:property => "og:type", :content => "website"], [:property => "fb:admins", :content => "1299864678"], description: "A rede social de compartilhamento de trabalhos do INF.", keywords: %w(inf ufrgs social network projects trabalhos disciplinas cadeiras rede social compartilhamento arquivos downloads ciencia da computação cic engenharia da computação ecp) %>

	<link rel="shortcut icon" href="<%=image_url 'favicon.ico'%>">

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<!-- Google Analytics -->
	<%= analytics_init if Rails.env.production? %>

	<!-- UserVoice JavaScript SDK (only needed once on a page) -->
	<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/o9oLNxwYj1eQMsNgxE2kXA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

	<!-- A tab to launch the Classic Widget -->
	<script>
	UserVoice = window.UserVoice || [];
	UserVoice.push(['showTab', 'classic_widget', {
	  mode: 'full',
	  primary_color: '#c72a2a',
	  link_color: '#007dbf',
	  default_mode: 'feedback',
	  forum_id: 201957,
	  tab_label: 'Feedback',
	  tab_color: '#c73030',
	  tab_position: 'middle-left',
	  tab_inverted: true
	}]);
	</script>
</head>

<body>

<div id="wrap">
	<div id="main">
		<header class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
			<div class="container">
			  <nav>
				<%= link_to tag(:img, :src => "/assets/logo_txt_mini.png"), root_path, class: "brand no-decoration" %>
				<!-- <text class="muted">A rede de compartilhamento de trabalhos do INF</text> -->
				<ul class="nav">
					<%= nav_link nav_icon("Início",""), root_path, false %>
					<%= nav_link nav_icon("Trabalhos",""), projects_path %>
					<%= nav_link nav_icon("Usuários",""), people_path %>
				</ul>				

				<!-- Search Form -->
				<% if not current_page?(root_path) or user_signed_in? %>
					<div class="navbar-search">
						<%= render "shared/global_search_form", placeholder: "Buscar", clearable: true %>
					</div>
				<% end %>
				
				<ul class="nav pull-right">						
					
					<!-- User section -->
					<% if user_signed_in? %>

						<li class="small"><%= link_to nav_icon("Adicionar trabalho","icon-plus"), new_project_path %></li>
						<li class="divider-vertical"></li>

						<li class="dropdown">
							<a class="dropdown-toggle username-text" href="<%=profile_path(current_user.person.nick)%>">
								<%= tag(:img, :src => current_user.person.avatar.url(:thumb)) + " " + current_user.person.getFirstName %>
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<!-- List of user options -->
								<li><%=	link_to nav_icon("Meu Perfil", "icon-user icon-large icon-grid"), profile_path(current_user.person.nick) %></li>
								<li><%= link_to nav_icon("Editar Perfil", "icon-edit icon-large icon-grid"), edit_person_path(current_user.person) %></li>
								<% if current_user.admin %>
									<li class="divider"></li>
									<li class="dropdown-submenu">
										<a tabindex="-1" href="#"><i class="icon-star icon-large icon-grid"></i> Administração</a>
										<ul class="dropdown-menu">
											<li><%= link_to nav_icon("Disciplinas", "icon-book icon-grid"), courses_path %></li>
											<li><%= link_to nav_icon("Tags", "icon-tags icon-grid"), tags_path %></li>
											<li><%= link_to nav_icon("Atividades", "icon-rss icon-grid"), activities_path %></li>
											<li><%= link_to nav_icon("Search Logs", "icon-search icon-grid"), search_logs_path %></li>
										</ul>
									</li>
								<% end %>
								<li class="divider"></li>
								<li><%= link_to nav_icon("Sair","icon-signout icon-large icon-grid"), destroy_user_session_path, :method => :delete %></li>
							</ul>
						</li>

					<% else %>
						<li class="dropdown">
							<a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon-signin"></i> Entrar</a>
							<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
								<%= form_for("user", :url => user_session_path) do |f| %>
									<div class="input-prepend" style="margin-bottom: 15;">
										<span class="add-on"><i class="icon-user"></i></span>
										<%= f.text_field :login, required: true, class: "input-medium", placeholder: "Usuario ou Email" %>
									</div>
									
									<div class="input-prepend" style="margin-bottom: -5px;">
										<span class="add-on"><i class="icon-key"></i></span>
										<%= f.password_field :password, required: true, class: "input-medium", placeholder: "Senha" %>
									</div>
									<div class="pull-right">
										<a href="#forgotPasswordModal" tabindex="-1" class="smaller" role="button" data-toggle="modal">(esqueci minha senha)</a>
									</div>
									
									<label class="checkbox" style="float: left; margin-right: 10px;">
										<input type="checkbox" name="user[remember_me]" checked> Manter logado
								    </label>

									<%= f.submit "OK", class: "btn btn-primary btn-block", style: "margin-bottom: 10px;"%>

									<div class="text-center">
										<a href="#resendConfirmationModal" class="small" role="button" data-toggle="modal"><i class="icon-question-sign"></i> Não recebi email de confirmação.</a>
									</div>
								<% end %>
							</div>
						</li>

						<li class="divider-vertical"></li>
						
						<%= link_to "Cadastrar", new_registration_path(:user), class: "btn btn-warning btn-small"%>
					<% end %>

					<!--<% if user_signed_in? %>
					 	<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-globe"></i>
							</a>
							<ul class="dropdown-menu">
								linha de texto<br>
								linha de texto<br>
								linha de texto<br>
								linha de texto<br>
							</ul>
						</li>
					<% end %> -->
				</ul>
			  </nav>
			</div>
		  </div>
		</header>

		<!-- Flash messages -->
		<% if notice and not notice.blank? %>
			<div class="content">
				<div class="alert alert-success"><%= raw(notice) %><a class="close" data-dismiss="alert" href="#">&times;</a></div>
			</div>
		<% end %>
		<% if alert and not alert.blank? %>
			<div class="content">
				<div class="alert alert-error"><%= raw(alert) %><a class="close" data-dismiss="alert" href="#">&times;</a></div>
			</div>
		<% end %>

		<!-- Page content goes here -->
		<%= yield %>

		<!-- Hidden modals for navbar sign-in dropdown -->
		<div id="forgotPasswordModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Resetar senha</h3>
			</div>
			<div class="modal-body">
				<%= form_for(:user, :url => password_path(:user), :html => { :method => :post }) do |f| %>
				  <%= devise_error_messages! %>
				  <%= f.email_field :email, required: true, class: "input-large", placeholder: "Email cadastrado" %>
				  <%= f.submit "Ok", class: "btn btn-primary" %>
				<% end %>
			</div>
		</div>
		<div id="resendConfirmationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Reenviar email de confirmação</h3>
			</div>
			<div class="modal-body">
				<%= form_for(:user, :url => confirmation_path(:user), :html => { :method => :post }) do |f| %>
					<%= devise_error_messages! %>
					<%= f.email_field :email, required: true, class: "input-large", placeholder: "Email cadastrado" %>
					<%= f.submit "Reenviar", class: "btn btn-primary" %>
				<% end %>
			</div>
		</div>


	</div>
</div>

<!-- Footer -->
<footer>

	<div class="container">
			<div class="pull-right">
				<br>
				<!-- Facebook Like Button -->
				<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fhub.inf.br&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font=tahoma&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px; width:110px;" allowTransparency="true"></iframe>
				<br>			
				<!-- GitHub Star Button -->
				<iframe src="http://ghbtns.com/github-btn.html?user=cmdalbem&repo=redetrabalhosinf&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="85px" height="20px"></iframe>
			</div>

			<div class="clearfix" style="margin-left:45%;">
				<!-- inf<strong>HUB</strong> -->
				<img src="/assets/logo_carved.png">
				<br>
				<%= link_to nav_icon("Sobre","icon-info-sign"), about_path, class: "no-decoration" %> | 
				<%= link_to nav_icon("Github","icon-github"), "https://github.com/cmdalbem/redetrabalhosinf", class: "no-decoration" %>
			</div>

		</div>

</footer>

</body>

</html>
