<h1>Search Logs</h1>

<div class="content">

<center>
  
  <table class="table table-striped table-condensed", style="width: 650px;">
    <thead>
      <tr>
        <th>String</th>
        <th>IP</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

  <% @logs.each do |log| %>
    <tr class="project-options-trigger">
      <td>
        <%= log.text %>
      </td>
      
      <td>
        <%= log.ip %>
        <% if log.user %>
           (<%= link_to log.user.person.nick, url_to_user(log.user) %>)
        <% end %>
      </td>

      <td class="muted">hรก <%= time_ago_in_words(log.created_at) %></td>

      <td>
        <div class="pull-right project-hidden-options">
          <%= link_to raw("<i class=\"icon-remove\"></i>"), log, method: :delete %>
        </div>
      </td>
    </tr>
  <% end %>
  </table>

</center>

</div>