<%= form_for @person, :html => { :multipart => true } do |f| %>

  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Perfil</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        
        <!-- Person Form -->
        <div class="field">
          <%= f.label "Nome" %><br />
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <%= f.label :avatar %><br />
          <%= f.file_field :avatar %>
        </div>
        
        <div><%= f.label "Sobre Mim" %><br />
        <%= f.text_area :about %></div>
        
        <div><%= f.label "Link pessoal" %><br />
        <%= f.url_field :personal_link %></div>

        <div class="field">
          <%= f.label "Semestre" %><br />
          <%= f.text_field :semester_year, type: "number", maxlength: "4", class: "input-small", placeholder: "ano"%>/
          <%= f.select :semester_sem, ["1","2"], {:include_blank => "-"} %><br />
        </div>  

        <div class="actions">
          <%= f.submit class: "btn btn-primary"%>
        </div>

      </div>

    </div>
  </div>  

  
  
<% end %>