<%= form_for @person, :html => { :multipart => true } do |f| %>

	<% if @person.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@person.errors.count, "erro") %> impediram este perfil de ser salvo:</h2>

			<ul>
				<% @person.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="row-fluid">
		<div class="span6">
			<!-- Person Form -->
			<div class="field">
				<%= f.label "Nome", class: "required" %><br />
				<%= f.text_field :name, required: true, class: "input-xlarge", maxlength: PERSON_NAME_MAX_LENGTH %>
			</div>

			<div class="field">
				<%= f.label "Ano/Semestre que entrou no curso" %><br />
				<%= f.select :semester_year, (Time.now.year.downto(MINIMUM_YEAR_ACCEPTABLE)).to_a, {include_blank: ""}, {class: "input-small"} %> 
				<%= f.select :semester_sem, [["1º Semestre","1"], ["2º Semestre","2"] ], {include_blank: ""}, {class: "input-medium"} %><br />
			</div>
			
			<div class="field">
				<%= f.label "Sobre Mim" %><br />
				<%= f.text_area :about, rows: 5, style: "width: 80%; margin-bottom: 0;" %>
				<span class="help-block">
					<small>
						Caracteres sobrando: <span id="char_count"><%=PERSON_ABOUT_MAX_LENGTH-(@person.about? ? @person.about.length : 0)%></span>
					</small>
				</span>

				<script type="text/javascript">
					// Character counter. Thanks to http://bampa.se/2011/01/simple-jquery-character-counter/
					$('#person_about').on('keyup keydown', function() {
						// global_constants.rb: PERSON_ABOUT_MAX_LENGTH = 300
						var maxLen = 300;
						var left = maxLen - $(this).val().length;
						$('#char_count').html(left);
					});
				</script>
			</div>
		</div>

		<div class="span6">				
			<div class="field">
				<h5> <i class="icon-link icon-large icon-grid"></i> Link pessoal </h5>
				<div class="margin-left">
					<%= f.url_field :personal_link, style: "width: 500px", placeholder: "URL" %>
				</div>	
			</div>

			<div class="field">
				<h5> <i class="icon-picture icon-large icon-grid"></i> Avatar </h5>
				<div class="margin-left">
					<% if @person.avatar? %>            
						<!-- Shows the uploaded image, with an option for replacing it with a new one. -->
						<div class="filePanel" id="filePanel">
							<div id="keepAvatarField">
								<table>
										<tr>
											<td style="text-align: center;">
												<%= image_tag @person.avatar.url, :height => '100px', :width => '100px', class: "img-polaroid" %> <br>
												<%= link_to "#{@person.avatar.original_filename}", @person.avatar.url %> 
											</td>
											<td><%= link_to_function raw("<i class=\"icon-refresh\"></i> Substituir"), "$('#updateAvatarField').toggle(); $('#keepAvatarField').toggle(); ", class: "btn btn-mini btn-warning" %></td>
										</tr>
								</table>
							</div>
							
							<!-- Field for uploading a replacing file. (it's initially hidden) -->
							<div id="updateAvatarField" style="display: none;">
								<%= f.file_field :avatar, id: "avatarInputField" %>
								<!-- This button toggles the according divs appearance state AND clears the input value (effectively canceling the replacing) -->
								<%= link_to_function raw("<i class=\"icon-remove\"></i> Cancelar substituição"), "$('#updateAvatarField').toggle(); $('#keepAvatarField').toggle(); $('#avatarInputField').val('');", class: "btn btn-mini btn-warning" %>
								<span class="help-block">
					                Formatos: jpeg, png, gif, bmp. Máx.: <%=MAX_IMAGE_FILE_SIZE_MB%>Mb.
					            </span>
							</div>
						</div>

						<!-- Delete option -->
						<label class="checkbox inline">
							<%= check_box_tag :deleteAvatar %> <i class="icon-trash"></i> Deletar
					    </label>
					    <script type="text/javascript">
					    	$('#deleteAvatar').on('click', function() {
					    		var isChecked = $(this).is(':checked');
								$('#filePanel').toggleClass('transparent', isChecked);
							});
					    </script>

					<% else %>
						<%= f.file_field :avatar %>
						<span class="help-block">
			                Formatos: jpeg, png, gif, bmp. Máx.: <%=MAX_IMAGE_FILE_SIZE_MB%>Mb.
			            </span>
					<% end %>

	            </div>
			</div>
		</div>
	</div>

	<br>

	<div class="text-center">
		<small class="muted">Apenas campos marcados com <label class="required"></label> são obrigatórios.</small>

		<div class="actions">
			<%= f.submit "Salvar", class: "btn btn-primary"%>
		</div>
	</div>

	
	
<% end %>
