<%= form_for(@person) do |f| %>

  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Person Form -->
  <div class="field">
    <%= f.label "Nome" %><br />
    <%= f.text_field :name %>
  </div>
  
  <div><%= f.label "Sobre Mim" %><br />
  <%= f.text_area :about %></div>
  
  <div><%= f.label "Link pessoal" %><br />
  <%= f.url_field :personal_link %></div>

  <div class="field">
    <%= f.label "Semestre" %><br />
    <%= f.text_field :barra1 %><br />
    <%= f.text_field :barra2 %><br />
    <span class="help-block">Tua barra é formada pelo ano em que tu entrou na UFRGS "barra" ('/') o semestre em que tu começou a cursar.</span>
  </div>  

  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
  
<% end %>