<%= form_for @person, :html => { :multipart => true } do |f| %>

  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Perfil</a></li>
        <!-- <li><a href="#tab2" data-toggle="tab">Avatar</a></li> -->
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        
        <!-- Person Form -->
        <div class="field">
          <%= f.label "Nome" %><br />
          <%= f.text_field :name %>
        </div>
        
        <div><%= f.label "Sobre Mim" %><br />
        <%= f.text_area :about %></div>
        
        <div><%= f.label "Link pessoal" %><br />
        <%= f.url_field :personal_link %></div>

        <div class="field">
          <%= f.label "Semestre" %><br />
          <%= f.text_field :semester_year, type: "number", maxlength: "4", class: "input-small", placeholder: "ano"%>/
          <%= f.select :semester_sem, ["1","2"], {:include_blank => "-"} %><br />
        </div>  

        <div class="field">
          <%= f.label :avatar %>
          <% if @person.avatar? %>
            <!-- Delete option. Unlike the Replace button, this option is a link which submits the form with a special sign for deleting this file. -->
            <%= f.hidden_field :deleteAvatar, :value => false, id: "deleteAvatarField" %>
            <%= link_to_function raw("(<i class=\"icon-trash\"></i> Deletar)"), "$('#deleteAvatarField').val('true'); $('form').submit();
    return false;" %>
            
            <!-- Shows the uploaded image, with an option for replacing it with a new one. -->
            <div id="keepAvatarField">
              <%= image_tag @person.avatar.url, :height => '100px', :width => '100px' %>
              <%= link_to "#{@person.avatar.original_filename}", @person.avatar.url %>
              <%= link_to_function raw("<i class=\"icon-refresh\"></i> Substituir"), "$('#updateAvatarField').toggle(); $('#keepAvatarField').toggle(); ", class: "btn btn-mini btn-warning" %>
            </div>
            <!-- Field for uploading a replacing file. (it's initially hidden) -->
            <div id="updateAvatarField" style="display: none;">
              <%= f.file_field :avatar, id: "avatarInputField" %>
              <!-- This button toggles the according divs appearance state AND clears the input value (effectively canceling the replacing) -->
              <%= link_to_function raw("<i class=\"icon-remove\"></i> Cancelar substituição"), "$('#updateAvatarField').toggle(); $('#keepAvatarField').toggle(); $('#avatarInputField').val('');", class: "btn btn-mini btn-warning" %>
            </div>
            <br>
          <% else %>
            <%= f.file_field :avatar %>
          <% end %>          
        </div>

        <br>

        <div class="actions">
          <%= f.submit class: "btn btn-primary"%>
        </div>
      </div>
    </div>

  </div>  

  
  
<% end %>