<div class="row-fluid">

  <ul class="thumbnails"> 
    <% @people.each do |person| %>
      <div class="pull-left">
        <li>
          <a href=<%= profile_path(person.nick) %> class="person-thumb thumbnail no-decoration">
            <%= image_tag person.avatar %>
            <center>
              <div class="thumb-content">
                <header class="username-text">
                  <%=person.name%>
                  <span>
                    <%=person.nick%>
                  </span>
                </header>
              </div>

              <div class="small blacktext">
                <i class="icon-file"></i>Projetos: <%=person.projects.size %>
              </div>
            </center>
          </a>
        </li>
      </div>
    <% end %>
  </ul>

</div>