<div class="muted">
  <%if params[:search] and not params[:search].empty?%>
      Mostrando resultados para: <strong><%=params[:search]%></strong> <%= link_to raw("<i class=\"icon-remove\"></i>"), class: "close nopull" %>
  <% end %>
</div>

<div class="row">
  <div class="span9">
    
    <ul class="thumbnails"> 
    <% @people.each do |person| %>
      <div class="span2">
        <li>
          <div class="thumbnail">
            <a href=<%= profile_path(person.nick) %> class="thumbnail">
              <%= image_tag person.avatar %>
            </a>
            <h5 class="username-text"><%= link_to person.name, profile_path(person.nick) %> <small>(<%=person.nick%>)</small></h5>
            <!-- <p>Projetos: <%= person.projects.size %></p> -->
              
            <small>
              <i class="icon-folder-close"></i><%=person.projects.size %>
            </small>
          </div>
        </li>
      </div>
    <% end %>
    </ul>

  </div>
</div>