<div class="muted">
  <%if params[:search] and not params[:search].empty?%>
      Mostrando resultados para: <strong><%=params[:search]%></strong> <%= link_to raw("<i class=\"icon-remove\"></i>"), class: "close nopull" %>
  <% end %>
</div>

<div class="row-fluid">

  <% columns = 6 %>
  <ul class="thumbnails"> 
    <% i=0 %>
    <% @people.each do |person| %>
      <% if i%columns == 0 %>
        <% if i!=0 %>
          </div>
        <% end %>
        <div class="row-fluid">
      <% end %>

      <div class="span2">
        <li class="thumbnail person-thumb">
          <a href=<%= profile_path(person.nick) %> class="thumbnail">
            <%= image_tag person.avatar %>
          </a>
          
          <center>
            <h5 class="username-text"><%= link_to person.name, profile_path(person.nick) %> <small>(<%=person.nick%>)</small></h5>
            <small>
              <i class="icon-folder-close"></i>Projetos: <%=person.projects.size %>
            </small>
          </center>
        </li>
      </div>

      <% i = i+1 %>

    <% end %>
  </ul>

</div>