<div class="row-fluid">

  <ul class="thumbnails"> 
    <% @people.each do |person| %>
      <div class="pull-left">
        <li class="person-thumb">
          <a href=<%= profile_path(person.nick) %> class="thumbnail">
            <%= image_tag person.avatar %>
            <center>
              <h5 class="username-text"><%=person.name%> <small><%=person.nick%></small></h5>
              <small class="blacktext">
                <i class="icon-folder-close-alt"></i>Projetos: <%=person.projects.size %>
              </small>
            </center>
          </a>
        </li>
      </div>
    <% end %>
  </ul>

</div>