<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "Nome", "name" %></th>
      <th><%= sortable "Email", "email" %></th>
      <th><%= sortable "Projetos", "projects" %></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.name, profile_path(person.nick) %></td>
        <td><%= person.user.email %></td>
        <td><%= person.projects.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>