<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "Nome", "name" %></th>
      <th><%= sortable "Usuário", "nick" %></th>
      <th><%= sortable "Nro. projetos", "projects" %></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.name, profile_path(person.nick), class: "fulltitle no-decoration" %></td>
        <td><%= person.nick %></td>
        <td><%= person.projects.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>