<div class="row-fluid">

  <ul class="thumbnails"> 
    <% @people.each do |person| %>
      <div class="pull-left">
        <li class="thumbnail person-thumb">
          <a href=<%= profile_path(person.nick) %> class="thumbnail">
            <%= image_tag person.avatar %>
          </a>
          
          <center>
            <h5 class="username-text"><%= link_to person.name, profile_path(person.nick) %> <small>(<%=person.nick%>)</small></h5>
            <small>
              <i class="icon-folder-close"></i>Projetos: <%=person.projects.size %>
            </small>
          </center>
        </li>
      </div>
    <% end %>
  </ul>

</div>