<h1>Projetos</h1>

<!--
<table class="table table-striped table-hover">
  <tr>
    <th>Title</th>
    <th>Course</th>
  </tr>
  
  <% @person.projects.all.sort! {|x,y| x.course.name <=> y.course.name } %>
  <% @person.projects.each do |project| %>
    <tr>
      <td><%= project.title %></td>
      <td><%= project.course.name %></td>
    </tr>
  <% end %>
</table>
!-->

<div class="accordion" id="accordion">

	<div class="accordion-group">
		<% collapseId = 0 %>
		<% @person.projects.each do |project| %>

		<div class="accordion-heading">
			<a class="accordion-toggle no-decoration" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=collapseId%>">
				<small>
					<div class="muted pull-right">
						<i class="icon-thumbs-up"></i> <%=project.likeCount %>  
						<i class="icon-download"></i> <%=project.downloadCount %>  
						<i class="icon-eye-open"></i> <%=project.viewCount %>
						<i class="icon-comment"></i> <%=project.comments.count %> 
			        </div>
			    </small>
				<div class="title">
					<%= project.title %>
					<%= raw(getContentIcons(project)) %>
			    </div>
		        <span>
		        	<i class="icon-book"></i> <%= project.course.name %> (<%= project.semester %>)
		        </span>
			</a>

		</div>
		<div id="collapse<%=collapseId%>" class="accordion-body collapse">
			<div class="accordion-inner">
				
				<div class="pull-right">
					<%= link_to raw("<i class=\"icon-zoom-in\"></i> Mais detalhes"), project_path(project) %>
					<% if user_signed_in? %>
						<% if project.people.include?(current_user.person) %>
							<small><div>
								<%= link_to raw("<i class=\"icon-edit\"></i> Editar"), edit_project_path(project) %>
								| 
								<%= link_to raw("<i class=\"icon-trash\"></i> Deletar"), project, confirm: 'Tem certeza?', method: :delete %>
							</div></small>
						<% end %>
					<% end %>
				</div>
					<p>
						<%= simple_format(project.description) %>
					</p>
					
					<p>
						<ul class="tags clearfix">
							<% project.tags.each do |tag| %>
								<li> <%= link_to tag.tag_text, "#" %> </li>
							<% end %>
						</ul>
					</p>
			</div>
		</div>

		<% collapseId+=1 %>
		<% end %>

	</div>

</div>