<h1>Pessoas</h1>

<br>

<div class="content">

<div class="row-fluid">

  <!-- Search Form --> 
  <div class="pull-left">
    <center>
      <%= form_tag people_path, :method => 'get', class: "form-search" do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <%= hidden_field_tag :view, params[:view] %>
        <div class="field">
          <div class="input-append row-fluid">
            <%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Busca por nome ou nick" %>
            <%= submit_tag "Pesquisar", class: "btn", name: nil %>
          </div>
        </div>
      <% end %>
    </center>
  </div>

  <!-- Button group for choosing view (list or thumbnail) -->
  <div class="pull-right"> 
    <%= render 'projects/viewmodes_buttons' %>
  </div>
</div>

<!-- The listing itself -->
<div id="people-table" class="clearfix"> 
  <%= render 'people_dynamic_listing' %>
</div>


</div>