<h1><%= title "Pessoas" %></h1>

<br>

<div class="content">

<div class="row-fluid ctrlbar">

  <!-- Search Form --> 
  <div class="span3">
    <div class="pull-left">
      <center>
        <%= render 'shared/search_form', destinyPath: people_path, placeholder: "Nome / Email" %>
      </center>
    </div>
  </div>

  <!-- Sort By option -->
  <div class="span6">
    <center>
      <%= render 'shared/sort_by_buttons', destinyPath: people_path, sortbyOptions: options_for_select({"Data adicionado"=>"date","Nome"=>"name","Usuário"=>"nick","Nro. projetos"=>"projects"}, selected: @column) %>
    </center>
  </div>

  <!-- Button group for choosing view (list or thumbnail) -->
  <div class="span3">
    <div class="pull-right"> 
      <%= render 'shared/viewmodes_buttons' %>
    </div>
  </div>
</div>

<!-- The listing itself -->
<div id="people-table" class="clearfix"> 
  <%= render 'people_dynamic_listing' %>
</div>


</div>