<h1>Pessoas</h1>

<br>

<div class="content">

<!-- Search Form --> 
<center>
  <%= form_tag people_path, :method => 'get', remote: true, class: "form-search" do %>
      <div class="field">
        <div class="input-append row-fluid">
          <%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Busca por nome ou nick" %>
          <%= submit_tag "Pesquisar", class: "btn", name: nil %>
        </div>
      </div>
  <% end %>
</center>

<!-- Button group for choosing view (list or thumbnail) -->
<div class="row"> 
  <%= render 'projects/viewmodes_buttons' %>
</div>

<!-- The listing itself -->
<div id="people-table" class="clearfix"> 
  <% if @viewMode == :thumbs %>
    <%= render 'people_thumbs' %>
  <% else %>
    <%= render 'people_list' %>
  <% end %>
</div>


</div>