<h1>Pessoas</h1>

<br>

<div class="content">

<div class="row-fluid">

  <!-- Search Form --> 
  <div class="span4">
    <div class="pull-left">
      <center>
        <div class="mysearch">
          <%= form_tag people_path, :method => 'get', class: "form-search" do %>
            <%= hidden_field_tag :direction, params[:direction] %>
            <%= hidden_field_tag :sort, params[:sort] %>
            <%= hidden_field_tag :view, params[:view] %>
            <i class="icon-search"></i>
            <%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Busca por nome ou nick" %>
          <% end %>
        </div>
      </center>
    </div>
  </div>

  <!-- Sort By option -->
  <div class="span4">
    <center>
      <%= form_tag people_path, method: 'get' do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <%= hidden_field_tag :view, params[:view] %>
        <%= hidden_field_tag :course, params[:course] %>
        Ordenar por 
        <%= select_tag :sort, options_for_select({"Nome"=>"name","Email"=>"email","Nro. Projetos"=>"projects","Data adicionado"=>"date"}, selected: @column), class: "input-medium", style: "margin: 0;", :onchange => 'this.form.submit()' %>
      <% end %>
    </center>
  </div>

  <!-- Button group for choosing view (list or thumbnail) -->
  <div class="span4">
    <div class="pull-right"> 
      <%= render 'projects/viewmodes_buttons' %>
    </div>
  </div>
</div>

<!-- The listing itself -->
<div id="people-table" class="clearfix"> 
  <%= render 'people_dynamic_listing' %>
</div>


</div>