<h1>Pessoas</h1>

<br>

<div class="content">

<!-- Search Form -->
<%= form_tag people_path, :method => 'get', remote: true, class: "form-search" do %>
    <div class="field">
      <div class="input-append row-fluid">
        <%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Busca por nome ou nick" %>
        <%= submit_tag "Pesquisar", class: "btn", name: nil %>
      </div>
    </div>
<% end %>


<!-- People listing -->

<!-- Button group for choosing view (list, thumbnail list or thumbnail) -->
<div class="pull-right btn-toolbar">
  <div class="btn-group">
    <%= link_to raw("<i class=\"icon-align-justify\"></i>"), "#", class: "btn active" %>
    <%= link_to raw("<i class=\"icon-th-list\"></i>"), "#", class: "btn disabled" %>
    <%= link_to raw("<i class=\"icon-th-large\"></i>"), "#", class: "btn disabled" %>
  </div>
</div>

<!-- The listing itself -->
<div id="people-list" class="clearfix"> 
  <%= render 'people_list' %>
</div>


</div>