<h2>Detalhes de Perfil</h2>
<p>
  <b>Nome:</b>
  <%= @person.name %>
</p>
<p>
  <b>Nick:</b>
  <%= @person.nick %>
</p>
<p>
  <b>Sobre Mim:</b>
  <%= @person.about %>
</p>
<p>
  <b>Barra:</b>
  <%= @person.barra %>
</p>
<p>
  <b>Link pessoal:</b>
  <%= link_to @person.personal_link, @person.personal_link %>
</p>

<h3>Estatísticas</h3>
<p>
  <b>Número de projetos:</b>
  <%= @person.projects.size %>
</p>

<br>

<h2>User Details</h2>
<p>
  <b>Registered user email:</b>
  <%= @person.user.email %>
</p>
<p>
  <b>Signed up date:</b>
  <%= @person.user.created_at %>
</p>
<p>
  <b>Sign in count:</b>
  <%= @person.user.sign_in_count %>
</p>
<p>
  <b>Logged since:</b>
  <%= @person.user.current_sign_in_at %>
</p>
<p>
  <b>Location:</b>
  <%= @person.user.current_sign_in_ip %>
</p>
<br>

<!-- Special partial for displaying projects -->
<%= render 'projects' %>

<br>

<a href=<%=people_path%> class="btn btn-mini"> <i class="icon-arrow-left"></i> Voltar</a>

<% if user_signed_in? and current_user.person==@person %>
  <a href=<%=edit_person_path(@person)%> class="btn btn-mini"> <i class="icon-edit"></i> Editar</a>
<% end %>
