<h2>Profile Details</h2>
<p>
  <b>Name:</b>
  <%= @person.name %>
</p>
<p>
  <b>Nick:</b>
  <%= @person.nick %>
</p>
<p>
  <b>About me:</b>
  <%= @person.about %>
</p>
<p>
  <b>Barra:</b>
  <%= @person.barra %>
</p>
<p>
  <b>Personal link:</b>
  <%= link_to @person.personal_link %>
</p>

<h3>Statistics</h3>
<p>
  <b>Number of projects:</b>
  <%= @person.projects.size %>
</p>

<br>

<h2>User Details</h2>
<p>
  <b>Registered user email:</b>
  <%= @person.user.email %>
</p>
<p>
  <b>Signed up date:</b>
  <%= @person.user.created_at %>
</p>
<p>
  <b>Sign in count:</b>
  <%= @person.user.sign_in_count %>
</p>
<p>
  <b>Logged since:</b>
  <%= @person.user.current_sign_in_at %>
</p>
<p>
  <b>Location:</b>
  <%= @person.user.current_sign_in_ip %>
</p>
<br>

<h1>Projects</h1>
<table class="table table-striped table-hover">
  <tr>
    <th>Title</th>
    <th>Course</th>
  </tr>
  
  <% @person.projects.all.sort! {|x,y| x.course.name <=> y.course.name } %>
  <% @person.projects.each do |project| %>
    <tr>
      <td><%= project.title %></td>
      <td><%= project.course.name %></td>
    </tr>
  <% end %>
</table>

<br>

<a href=<%=people_path%> class="btn btn-mini"> <i class="icon-arrow-left"></i> Back</a>

<% if user_signed_in? and current_user.person==@person %>
  <a href=<%=edit_person_path(@person)%> class="btn btn-mini"> <i class="icon-edit"></i> Edit</a>
<% end %>
