<legend>Detalhes de Perfil</legend>

<div class="content">

<div class="container-fluid center">

  <div class="block row-fluid">
    <div class="span4">
      <center>
        <%= image_tag @person.avatar, class: "img-polaroid" %>
      </center>
    </div>
    <div class="block span7">
      <p>
        <h2><%= @person.name %></h2>
      </p>
      <p>
        <strong>Sobre Mim:</strong>
        <%= @person.about %>
      </p>
      <p>
        <strong>Barra:</strong>
        <%= @person.semester %>
      </p>
      <p>
        <strong>Link pessoal:</strong>
        <%= link_to @person.personal_link, @person.personal_link %>
      </p>
    </div>
  </div>

  <br>

  <div class="row-fluid">
    <div class="block span6">
      <h3>Estatísticas</h3>
      <p>
        <b>Número de projetos:</b>
        <%= @person.projects.size %>
      </p>
    </div>

    <div class="block span6">
      <h2>User Details</h2>
      <p>
        <b>Registered user email:</b>
        <%= @person.user.email %>
      </p>
      <p>
        <b>Signed up date:</b>
        <%= @person.user.created_at %>
      </p>
      <p>
        <b>Sign in count:</b>
        <%= @person.user.sign_in_count %>
      </p>
      <p>
        <b>Logged since:</b>
        <%= @person.user.current_sign_in_at %>
      </p>
      <p>
        <b>Location:</b>
        <%= @person.user.current_sign_in_ip %>
      </p>
      <p>
    </div>
  </div>

  <br>

  <div class="row-fluid">
    <div class="block span12">
      <%= render 'projects_accordion' %>
    </div>
  </div>

</div>

</div>


<%= link_to raw("<i class=\"icon-arrow-left\"></i> Voltar"), people_path, class: "btn" %>

<% if user_signed_in? and current_user.person==@person %>
  <%= link_to raw("<i class=\"icon-pencil\"></i> Editar"), edit_person_path(@person), class: "btn btn-primary" %>
<% end %>