<legend>Detalhes de Perfil
  <div class="pull-right">
  <% if user_signed_in? and current_user.person==@person %>
    <%= link_to raw("<i class=\"icon-pencil\"></i> Editar"), edit_person_path(@person)%>
  <% end %>
</div>
</legend>

<div class="content">

<div class="container-fluid center">

  <div class="row-fluid">
    <div class="span4">

      <div class="row-fluid">
        <div class="profile-block">
          <center>
            <%= image_tag @person.avatar, class: "img-polaroid" %>
          </center>
        
          <h2><%= @person.name %></h2>
          <strong>Sobre Mim:</strong> <%= @person.about %> <br>
          <strong>Semestre:</strong> <%= @person.semester %> <br>
          <strong>Link pessoal:</strong> <%= link_to @person.personal_link, @person.personal_link %><br>
        </div>
      </div>

      <div class="row-fluid">
        <div class="profile-block">
          <h4>Estatísticas</h4>
          <p>
            <b>Número de projetos:</b>
            <%= @person.projects.size %>
          </p>
        </div>
      </div>

      <div class="row-fluid">
        <div class="profile-block">
          <b>Email:</b>
          <%= @person.user.email %>
          <br>
          <b>Conta criada em:</b>
          <%= @person.user.created_at %>
          <br>
          <b>Número de logins:</b>
          <%= @person.user.sign_in_count %>
          <br>
          <b>Logado desde:</b>
          <%= @person.user.current_sign_in_at %>
          <br>
          <b>IP:</b>
          <%= @person.user.current_sign_in_ip %>
        </div>
      </div>

    </div>

    <div class="span8">
       <%= render 'projects_accordion' %>
    </div>
    

  </div>

</div>

</div>