<legend>Detalhes de Perfil
  <div class="pull-right">
  <% if user_signed_in? and current_user.person==@person %>
    <%= link_to raw("<i class=\"icon-pencil\"></i> Editar"), edit_person_path(@person)%>
  <% end %>
</div>
</legend>

<div class="content">

<div class="container-fluid center">

  <div class="row-fluid">
    <div class="span4">

      <div class="row-fluid">
        <div class="block">
          <center>
            <%= image_tag @person.avatar, class: "img-polaroid" %>
          </center>
        
          <p>
            <h2><%= @person.name %></h2>
          </p>
          <p>
            <strong>Sobre Mim:</strong>
            <%= @person.about %>
          </p>
          <p>
            <strong>Semestre:</strong>
            <%= @person.semester %>
          </p>
          <p>
            <strong>Link pessoal:</strong>
            <%= link_to @person.personal_link, @person.personal_link %>
          </p>
        </div>
      </div>

      <div class="row-fluid">
        <div class="block">
          <h4>Estatísticas</h4>
          <p>
            <b>Número de projetos:</b>
            <%= @person.projects.size %>
          </p>
        </div>
      </div>

      <div class="row-fluid">
        <div class="block">
          <h4>User Details</h4>
          <p>
            <b>Registered user email:</b>
            <%= @person.user.email %>
          </p>
          <p>
            <b>Signed up date:</b>
            <%= @person.user.created_at %>
          </p>
          <p>
            <b>Sign in count:</b>
            <%= @person.user.sign_in_count %>
          </p>
          <p>
            <b>Logged since:</b>
            <%= @person.user.current_sign_in_at %>
          </p>
          <p>
            <b>Location:</b>
            <%= @person.user.current_sign_in_ip %>
          </p>
          <p>
        </div>
      </div>

    </div>

    <div class="block span8">
       <%= render 'projects_accordion' %>
    </div>
    

  </div>

</div>

</div>