<legend>Detalhes de Perfil
  <!-- <div class="pull-right"> -->
    <% if user_signed_in? and current_user.person==@person %>
      <%= link_to raw("<i class=\"icon-pencil\"></i> Editar Perfil"), edit_person_path(@person), class: "btn btn-info" %>
    <% end %>
  <!-- </div> -->
</legend>

<div class="content">

<div class="container-fluid center">

  <div class="row-fluid">
    <div class="span4">

      <div class="row-fluid">
        <div class="profile-picture">
          <center>
            <%= image_tag @person.avatar, class: "img-polaroid" %>
          </center>
        
          <h2 class="username-text"><%= @person.name %> <small>(<%=@person.nick%>)</small></h2>
          <%= @person.about %>
          <br>
          <strong>Semestre:</strong> <%= @person.semester %>
          <br>
          <strong>Link pessoal:</strong> <%= link_to @person.personal_link, @person.personal_link %>
        </div>
      </div>

      <hr>

      <div class="row-fluid">
        <div class="">
          <h4>Estatísticas</h4>
          <b>Projetos:</b> <%= @person.projects.size %>
          <br>
          <b>Total de likes:</b> <%= @person.getTotalLikes %>
          <br>
          <b>Total de downloads:</b> <%= @person.getTotalDownloads %>
        </div>
      </div>

      <hr>

      <div class="row-fluid">
        <div class="">
          <b>Email:</b>
          <%= @person.user.email %>
          <br>
          <b>Conta criada em:</b>
          <%= @person.user.created_at %>
          <br>
          <b>Número de logins:</b>
          <%= @person.user.sign_in_count %>
          <br>
          <!--<b>Logado desde:</b> <%= @person.user.current_sign_in_at %>
          <br>
          <b>IP:</b> <%= @person.user.current_sign_in_ip %> -->
        </div>
      </div>

    </div>

    <div class="span8">
       <%= render 'projects_accordion' %>
    </div>
    

  </div>

</div>

</div>