<div class="content">
	
	<% if user_signed_in? and @person.user.authorizes?(current_user) %>
		<div class="panel">
			<%= link_to raw("<i class=\"icon-edit\"></i> Editar Perfil"), edit_person_path(@person), class: "btn btn-info pull-right" %>
			<!-- <div class="pull-right">
				<small>
					<%= link_to raw("<i class=\"icon-trash\"></i> Deletar conta"), edit_user_registration_path(@person.user), confirm: 'Tem certeza?', method: :delete %>
				</small>
			</div>-->
		</div>
	<% end %>


	<div class="center">

		<% if @person.projects.count>0 %>
			<div class="row-fluid">
				<div class="well well-headed well-small">
					<header>Tags mais usadas por <strong><%=@person.nick%></strong></header>
					<%= render "shared/tag_cloud", tags: @tags, count: @tagsCount %>
				</div>
			</div>
		<% end %>

		<div class="row-fluid">

			<div class="span3 person-profile" >

				<div class="row-fluid">
					<center>
						<%= image_tag @person.avatar, class: "img-polaroid" %>
					</center>
				
					<h2 class="username-text"><%= title @person.name %> <small><%=@person.nick%></small></h2>
					
					<% if @person.personal_link? %>
						<p>
							<%= link_to @person.personal_link, @person.personal_link %>
						</p>
					<% end %>

					<blockquote>
						<%= @person.about %>
					</blockquote>
					
				</div>
				
				<hr class="soften">

				<div class="person-stats">
					<div class="row-fluid">
						<center>
							<header> Estatísticas dos meus trabalhos </header>
						</center>
					</div>

					<div class="row-fluid">
						<div class="span4">
							<center>
								<div class="bigNumber"><%= @person.projects.count %></div>
								<span>trabalhos</span>
							</center>
						</div>
						 
						<div class="span4">
							<center>
								<div class="bigNumber"><%= @person.getTotalLikes %></div>
								<span>curtir</span>
							</center>
						</div>

						<div class="span4">
							<center>
								<div class="bigNumber"><%= @person.getTotalViews %></div>
								<span>visualizações</span>
							</center>
						</div>
					</div>
				</div>
				
				<hr class="soften">

				<div class="row-fluid">
					<div class="person-details">

						<span class="muted"><i class="icon-envelope icon-grid"></i></span>
						<%= mail_to @person.user.email %>

						<br>

						<% if @person.semester? %>
							<span class="muted"><i class="icon-group icon-grid"></i> Semestre</span>
							<%= @person.semester %>

							<br>
						<% end %>

						<span class="muted"><i class="icon-time icon-grid"></i> Última atividade </span>
						<% if @activities.empty? %>
							<%= time_ago_in_words(@person.created_at) %> atrás
						<% else %>
							<%= time_ago_in_words(@activities.first.created_at) %> atrás
						<% end %>

						<% if @person.user.admin? %>
							<br>

							<span class="text-warning"><i class="icon-star icon-grid"></i></span>
							<text class="text-warning">Administrador</text>
						<% end %>
					</div>
				</div>

			</div>

			<script>
				// var pane = document.querySelector('.person-profile');
				// var previousScroll = 0;

				// function onScroll(e) {
				// 	var currentScroll = window.scrollY;

				// 	if(window.innerHeight<pane.offsetTop+pane.offsetHeight)
				// 		if (currentScroll > previousScroll){
				// 			alert('down');
				// 		} else {
				// 			alert('up');
				// 		}
				// 		// Check top
				// 		if (currentScroll+window.innerHeight >= pane.offsetTop+pane.offsetHeight)
				// 			pane.classList.add('sticky-bottom');
				// 		else
				// 			pane.classList.remove('sticky-bottom');
				//   	else
				//   		pane.classList.add('sticky-top')

				//   	previousScroll = currentScroll;
				// }

				// document.addEventListener('scroll', onScroll);
			</script>

			<!-- <div class="span9" style="margin-left: 290px;"> -->
			<div class="span9">
				<div class="tabbable">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab1" data-toggle="tab"><i class=" icon-reorder"></i> Trabalhos</a></li>
						<li><a href="#tab2" data-toggle="tab"><i class=" icon-rss"></i> Atividades</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="tab1">

							<%= render "shared/project_ctrlbar", sortbyOptions: {"Popularidade"=>"relevance",
																				"Data do upload" => "date",
																				"Título"=>"title",
																				"Semestre"=>"barra",
																				"Likes"=>"likes"} %>

							<!-- The listing itself -->
							<div id="projects-table" class="clearfix"> 
								<%= render 'projects/projects_dynamic_listing' %>
							</div>
						
						</div>

						<div class="tab-pane" id="tab2">
							
							<ul>
								<div class="news-list">
									<ul>
										<% @activities.each do |a| %>
											<li class="project-options-trigger" style="overflow: hidden;">
												<%= render_activity a %>
												<small>
													<p class="muted pull-right">há <%= time_ago_in_words(a.created_at) %></p>
												</small>
												<% if user_signed_in? and a.owner==current_user %>
													<span class="project-hidden-options pull-right">
														<%= link_to raw("<i class=\"icon-remove-sign\"></i>"), activity_path(a), confirm: "Tem certeza?", method: "delete", class: "no-decoration" %>
													</span>
												<% end %>
											</li>
										<% end %>
										<li>
											<i class="icon-certificate"></i> <p class="author"> <%= link_to @person, profile_path(@person.nick) %> </p> entrou no <text class="infhub-text">infHUB</text>
											<small>
												<p class="muted pull-right">há <%= time_ago_in_words(@person.created_at) %></p>
											</small>
										</li>
									</ul>
									<small>
										<% # link_to "Ver mais", activities_path %>
									</small>
								</div>
							</ul>

						</div>
				
					</div>
				</div>

			</div>

		</div>

	</div>

</div>