<legend>Detalhes de Perfil
  <% if user_signed_in? and @person.user.authorizes?(current_user) %>
    <%= link_to raw("<i class=\"icon-edit\"></i> Editar Perfil"), edit_person_path(@person), class: "btn btn-info pull-right" %>
    <!-- <div class="pull-right">
      <small>
        <%= link_to raw("<i class=\"icon-trash\"></i> Deletar conta"), edit_user_registration_path(@person.user), confirm: 'Tem certeza?', method: :delete %>
      </small>
    </div>-->
  <% end %>
</legend>

<div class="content">

<div class="container-fluid center">

  <div class="row-fluid">
    <div class="span3">

      <div class="row-fluid">
        <div class="profile-picture">
          <center>
            <%= image_tag @person.avatar, class: "img-polaroid" %>
          </center>
        
          <h2 class="username-text"><%= title @person.name %><small><%=@person.nick%></small></h2>
          
          <p>
            <%= @person.about %>
          </p>

          <% if @person.personal_link? %>
            <p>
              <i class="icon-external-link"></i>
              <%= link_to @person.personal_link, @person.personal_link %>
            </p>
          <% end %>
          
          <% if @person.semester? %>
            <p>
              Semestre: <%= @person.semester %>
            </p>
          <% end %>

        </div>
      </div>

      <hr>

      <div class="row-fluid">
        <div class="span12">
          <div class="person-stats">
            <div class="span4">
              <center>
                <strong><%= @person.projects.size %></strong>
                <span>Projetos</span>
              </center>
            </div>
             
            <div class="span4">
              <center>
                <strong><%= @person.getTotalLikes %></strong>
                <span>Curtir recebidos</span>
              </center>
            </div>

            <div class="span4">
              <center>
                <strong><%= @person.getTotalDownloads %></strong>
                <span>Downloads</span>
              </center>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row-fluid">
        <div class="person-details">
          <% if @person.user.admin? %>
            <span class="text-warning"><i class="icon-star"></i></span>
            <text class="text-warning">Administrador</text>
            <br>
          <% end %>
          <span class="muted"><i class="icon-envelope"></i></span>
          <%= mail_to @person.user.email %>
          <br>  
          <span class="muted"><i class="icon-time"></i> Usuário desde </span>
          <%= @person.created_at.strftime("%d/%m/%Y") %>
        </div>
      </div>

    </div>

    <div class="span9">
      <div class="tabbable">

        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab"><i class=" icon-reorder"></i> Projetos</a></li>
          <li><a href="#tab2" data-toggle="tab"><i class=" icon-rss"></i> Atividade</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="tab1">

            <!-- Projects Listing -->
            <div class="row-fluid ctrlbar">
                <!-- "Sort By" option -->
                <div class="span8">
                  <%= render 'shared/sort_by_buttons',
                    destinyPath: profile_path(@person.nick),
                    sortbyOptions: options_for_select({"Popularidade"=>"relevance","Título"=>"title","Semestre"=>"barra","Disciplina"=>"course","Data adicionado" => "date"}, selected: @column) %>
                </div>

                <!-- Button group for choosing view (list or thumbnail) -->
                <div class="span4">
                  <div class="pull-right">
                    <%= render 'shared/viewmodes_buttons' %>
                  </div>
                </div>

            </div>

            <!-- The listing itself -->
            <div id="projects-table" class="clearfix"> 
              <%= render 'projects/projects_dynamic_listing' %>
            </div>
          
          </div>

          <div class="tab-pane" id="tab2">
            
            <% if @activities.empty? %>
              <center class="muted">
                Sem atividade a exibir.
              </center>
            <% else %>
              <ul>
                <div class="news">
                  <ul>
                    <% @activities.each do |a| %>
                        <li>
                        <%= render_activity a %>
                        <small>
                          <p class="muted pull-right">há <%= time_ago_in_words(a.created_at) %></p>
                        </small>
                      </li>
                    <% end %>
                  </ul>
                  <small>
                    <% # link_to "Ver mais", activities_path %>
                  </small>
                </div>
              </ul>
            <% end %>

          </div>
      
        </div>
      </div>

  </div>

</div>

</div>