<%= form_for(@project) do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Disciplina" %><br />
    <%= f.select :course, Course.all.collect {|p| p.name } %>
  </div>

  <div class="field">
    <%= f.label "Semestre" %><br />
    <input type="number" name="barra1" maxlength="4" value="<%=@barra[0]%>" class="input-small"> / 
    <select name="barra2" class="input-small">
      <option <%="selected" if (@barra[1]=="1")%>>1</option>
      <option <%="selected" if (@barra[1]=="2")%>>2</option>
    </select>
    <span class="help-block">Tua barra é formada pelo ano em que tu entrou na UFRGS "barra" ('/') o semestre em que tu começou a cursar.</span>
  </div>

  <div class="field">
    <%= f.label "Título" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label "Descrição" %><br />
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
  
<% end %>
