<%= form_for(@project) do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "erro") %> impediram deste projeto ser salvo:</h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Detalhes</a></li>
        <!-- <li><a href="#tab2" data-toggle="tab">Arquivos</a></li> -->
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        
        <div class="field">
          <%= f.label "Disciplina" %><br />
          <%= f.select :course_id, Course.all.collect {|p| [p.name, p.id] }, {include_blank: true, required: true}, {"data-placeholder" => "Selecione uma disciplina...", class: "chzn-select"} %>
        </div>

        <div class="field">
          <%= f.label "Ano/Semestre" %><br />
          <%= f.text_field :semester_year, type: "number", maxlength: "4", class: "input-small", placeholder: "Ano"%>/
          <%= f.select :semester_sem, [["1º Semestre","1"], ["2º Semestre","2"] ], include_blank: "" %><br />
        </div>

        <div class="field">
          <%= f.label "Título" %><br />
        <%= f.text_field :title, class: "input-xlarge", required: true %>
        </div>

        <div class="field">
          <%= f.label "Descrição" %><br />
          <%= f.text_area :description, rows: 10, style: "width: 50%; margin-bottom: 0;" %>
          <span class="help-block">
            <small>
              Caracteres sobrando: <span id="char-count"><%=PROJECT_DESCRIPTION_MAX_LENGTH - (@project.description? ? @project.description.length : 0)%></span>
            </small>
          </span>
        </div>

        <div class="field">

        <!-- Additional Accordion Content -->

          <div class="accordion" id="accordion">

            <%= f.label "Conteúdo Adicional" %>

            <div class="accordion-group">
              <% collapseId = 0 %>

              <!-- Accordion Item -->
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapse<%=collapseId%>">
                  <!-- HEADER -->
                  <h5> <i class="icon-tags icon-large"></i> Tags </h5>
                </a>
              </div>
              <div id="collapse<%=collapseId%>" class="accordion-body collapse">
                <div class="accordion-inner">
                  <!-- CONTENT -->
                  <%= f.text_area :tag_tokens, "data-pre" => @project.tags.as_json.to_json %>
                  <span class="help-block">
                    Por exemplo: c++, linux, grafos, gtk
                  </span>
                </div>
              </div>

              <% collapseId+=1 %>

              <!-- Accordion Item -->
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapse<%=collapseId%>">
                  <!-- HEADER -->
                  <h5> <i class="icon-share-alt icon-large"></i> Link </h5>
                </a>
              </div>
              <div id="collapse<%=collapseId%>" class="accordion-body collapse">
                <div class="accordion-inner">
                  <!-- CONTENT -->
                  <%= f.url_field :link, style: "width: 500px", placeholder: "URL" %>
                </div>
              </div>

              <% collapseId+=1 %>

              <!-- Accordion Item -->
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapse<%=collapseId%>">
                  <!-- HEADER -->
                  <h5> <i class="icon-picture icon-large"></i> Imagem de exibição </h5>
                </a>
              </div>
              <div id="collapse<%=collapseId%>" class="accordion-body collapse">
                <div class="accordion-inner">
                  <!-- CONTENT -->
                  <% if @project.image? %>
                    <!-- Shows the uploaded image, with an option for replacing it with a new one. -->
                    <div id="keepImageField">
                      <%= image_tag @project.image.url, :height => '100px', :width => '100px' %>
                      <%= link_to "#{@project.image.original_filename}", @project.image.url %>
                      <%= link_to_function raw("<i class=\"icon-refresh\"></i> Substituir"), "$('#updateImageField').toggle(); $('#keepImageField').toggle(); ", class: "btn btn-mini btn-warning" %>
                    </div>
                    <!-- Field for uploading a replacing file. (it's initially hidden) -->
                    <div id="updateImageField" style="display: none;">
                      <%= f.file_field :image, id: "avatarInputField" %>
                      <!-- This button toggles the according divs appearance state AND clears the input value (effectively canceling the replacing) -->
                      <%= link_to_function raw("<i class=\"icon-remove\"></i> Cancelar substituição"), "$('#updateImageField').toggle(); $('#keepImageField').toggle(); $('#avatarInputField').val('');", class: "btn btn-mini btn-warning" %>
                    </div>

                    <!-- Delete option. -->
                    <%= check_box_tag :deleteImage %> <i class="icon-trash"></i> Deletar quando salvar

                  <% else %>
                      <%= f.file_field :image %>
                  <% end %>
                </div>
              </div>

              <% collapseId+=1 %>

              <!-- Accordion Item -->
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapse<%=collapseId%>">
                  <!-- HEADER -->
                  <h5> <i class="icon-file icon-large"></i> Arquivo </h5>
                </a>
              </div>
              <div id="collapse<%=collapseId%>" class="accordion-body collapse">
                <div class="accordion-inner">
                  <!-- CONTENT -->
                  <% if @project.file? %>
                    <!-- Shows the uploaded file, with an option for replacing it with a new one. -->
                    <div id="keepFileField">
                      <%= link_to "#{@project.file.original_filename} (#{@project.file.size/1024} Kb)", @project.file.url %>
                      <%= link_to_function raw("<i class=\"icon-refresh\"></i> Substituir"), "$('#updateFileField').toggle(); $('#keepFileField').toggle(); ", class: "btn btn-mini btn-warning" %>
                    </div>
                    <!-- Field for uploading a replacing file. (it's initially hidden) -->
                    <div id="updateFileField" style="display: none;">
                      <%= f.file_field :file, id: "fileInputField" %>
                      <!-- This button toggles the according divs appearance state AND clears the input value (effectively canceling the replacing) -->
                      <%= link_to_function raw("<i class=\"icon-remove\"></i> Cancelar substituição"), "$('#updateFileField').toggle(); $('#keepFileField').toggle(); $('#fileInputField').val('');", class: "btn btn-mini btn-warning" %>
                    </div>

                    <!-- Delete option. -->
                    <%= check_box_tag :deleteFile %> <i class="icon-trash"></i> Deletar quando salvar

                  <% else %>
                    <%= f.file_field :file %>
                  <% end %>

                </div>
              </div>            

            </div>

          </div>          
        </div>

      </div>
    </div>

  </div>  

  <br>
  <br>

  <div class="actions">
    <%= f.submit "Salvar", class: "btn btn-primary"%>
    <%= f.submit "Salvar e adicionar outro", class: "btn btn-info" %>
    <!--<%= link_to raw("<i class=\"icon-trash\"></i> Deletar"), @project, confirm: 'Tem certeza?', method: :delete, class: "btn btn-danger" %>-->
  </div>
  
<% end %>
