<%= form_for(@project) do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Disciplina" %><br />
    <%= f.select :course_id, Course.all.collect {|p| [p.name, p.id] }, {:include_blank => "-"} %>
  </div>

  <div class="field">
    <%= f.label "Semestre" %><br />
    <%= f.text_field :semester_year, type: "number", maxlength: "4", class: "input-small", placeholder: "ano"%>/
    <%= f.select :semester_sem, ["1","2"], {:include_blank => "-"} %><br />
  </div>

  <div class="field">
    <%= f.label "Título" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label "Descrição" %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label "Tags" %><br />
    <%= f.text_area :tag_tokens, "data-pre" => @project.tags.as_json.to_json %>
  </div>

  <div class="field">
    <%= f.label "Imagem para exibição" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label "Arquivo (por enquanto só um :-)" %><br />
    <%= f.file_field :file %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
  
<% end %>
