<div class="muted">
  <%if params[:search] and not params[:search].empty?%>
      Mostrando resultados para: <strong><%=params[:search]%></strong> <%= link_to raw("<i class=\"icon-remove\"></i>"), class: "close nopull" %>
  <% end %>
</div>

<div class="row-fluid">

  <% columns = 5 %>
  <ul class="thumbnails">
    <% i=0 %>
    <% @projects.each do |project| %>
      <% if i%columns == 0 %>
        <% if i!=0 %>
          </div>
        <% end %>
        <div class="row-fluid">
      <% end %>

      <div class=<%="span#{12/columns}"%> >
        <li class="thumbnail project-thumb">
            
          <!-- Buttons -->
          <div class="thumb-buttons">
            <div class="btn-group">
              <% if user_signed_in? %>
                <% if current_user.person==project.person %>
                  <%= link_to raw("<i class=\"icon-pencil\"></i>"), edit_project_path(project), class: "btn btn-mini" %>
                  <%= link_to raw("<i class=\"icon-trash\"></i>"), project, confirm: 'Tem certeza?', method: :delete, class: "btn btn-mini" %>
                <% end %>
              <% end %>
            </div>
          </div>

          <!-- Image, if existing -->
          <% if project.image? %>
            <%= image_tag project.image %>
          <% end %>

          <div class="thumb-content">
            <header>
              <center>
                <%= link_to project.title, project %>
                <% if project.file? %>
                  <i class="icon-file muted"></i>
                <% end %>
                <% if project.image? %>
                  <i class="icon-picture muted"></i>
                <% end %> 
              </center>
            </header>
            <div class="text">
              <%=project.course.name%> (<%=project.semester%>)
              <br>
              <i class="icon-thumbs-up"></i><%= project.likes.count %> 
              <i class="icon-download"></i><%= project.downloadCount %>
            </div>
          </div>

        </li>
      </div>

      <% i = i+1 %>

    <% end %>
  </ul>

</div>