<div class="row-fluid">

  <ul class="thumbnails">
    <% @projects.each do |project| %>

      <div class="pull-left"%>
        <li class="thumbnail project-thumb project-options-trigger">

          <!-- Buttons -->
          <% if user_signed_in? and project.canBeEditedBy?(current_user) %>
            <div class="thumb-buttons">
              <div class="btn-group project-hidden-options">
                <% btnColor = (current_user.admin? and not project.people.include?(current_user.person)) ? " btn-danger" : " btn-info" %>
                <%= link_to nav_icon('',"icon-edit"), edit_project_path(project), class: "btn btn-mini"+btnColor %>
                <%= link_to nav_icon('',"icon-trash"), project, confirm: 'Tem certeza?', method: :delete, class: "btn btn-mini"+btnColor %>
              </div>
            </div>
          <% end %>

          <!-- Image in the background -->
          <% if project.image? %>
            <%= image_tag project.image %>
          <% else %>
            <div class="bgtext muted small">
              <%= project.description %>
            </div>
          <% end %>

          <!-- The content -->
          <div class="thumb-content">
            <header>
              <center>
                <%= link_to_project project %>
              </center>
            </header>
            <% aux = project.image? ? "hidable" : "" %>
            <div class="text" id=<%=aux%> >
              <% if project.people.size==1 %>
                <span class="muted"><i class="icon-user"></i></span>
              <% else %>
                <span class="muted"><i class="icon-group"></i></span>
              <% end %>
              <%= project.people.collect { |p| link_to p.nick, profile_path(p.nick) }.join(", ").html_safe %>

              <br>
              <i class="icon-book muted"></i> <%= "#{project.course.name} (#{project.semester})"%>
            </div>
          </div>
 
          <center>
            <%= raw(printProjectPopularityStats(project)) %>
          </center>

        </li>
      </div>


    <% end %>
  </ul>

</div>