<div class="muted">
  <%if params[:search] and not params[:search].empty?%>
      Mostrando resultados para: <strong><%=params[:search]%></strong> <%= link_to raw("<i class=\"icon-remove\"></i>"), class: "close nopull" %>
  <% end %>
</div>

<table class="table table-striped table-hover">
  <tr>
    <th><%= sortable "Título", "title" %></th>
    <th><%= sortable "Disciplina", "course" %></th>
    <th><%= sortable "Semestre", "barra" %></th>
    <th><%= sortable "Autor", "person" %></th>
    <th><%= sortable "Curtir", "likes" %></th>
    <th colspan="1"></th>
  </tr>


  <% @projects.each do |project| %>
    
    <tr>
      <td><%= link_to project.title, project %></td>
      <td><%= project.course.name %></td>
      <td><%= project.semester %></td>
      <td><%= link_to project.person.name, profile_path(project.person.nick) %></td>
      <td>
        <span id="project-like-count-<%= project.id %>"><%= project.likes.count %></span>
        <% if user_signed_in? %>
          <% if current_user.person.likes.include?(project) %>
            <span class="btn btn-mini" disabled="disabled"> <i class="icon-thumbs-up"></i> Curtir </span>
          <% else %>
            <%= link_to raw("<i class=\"icon-thumbs-up\"></i> Curtir"), like_project_path(project), remote: true, class: "btn btn-mini", id: "project-like-button-"+project.id.to_s %>
          <% end %>
        <% end %>
      </td>
      <td>
        <div class="btn-group">
          <%= link_to raw("<i class=\"icon-zoom-in\"></i>"), project, class: "btn btn-mini" %>
          <% if user_signed_in? %>
            <% if current_user.person==project.person %>
              <%= link_to raw("<i class=\"icon-pencil\"></i>"), edit_project_path(project), class: "btn btn-mini" %>
              <%= link_to raw("<i class=\"icon-remove\"></i>"), project, confirm: 'Tem certeza?', method: :delete, class: "btn btn-mini" %>
            <% end %>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
  
</table>