<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th><%= sortable "Título", "title" %></th>
      <th><%= sortable "Disciplina", "course" %></th>
      <th><%= sortable "Semestre", "barra" %></th>
      <th><%= sortable "Autor", "person" %></th>
      <!-- <th>
        <%= sortable "Popularidade
        <a href=\"#\"
        rel=\"popover\"
        data-original-title=\"Popularidade\"
        data-content=\"Calculada com a seguinte equação:<br><small>(20*likes + 10*downloads + 10*linkHits)*100 / (1+views)</small>\"
        >
        <i class=\"icon-question-sign\"></i></a>
        ", "relevance" %>
      </th> -->
      <th colspan="1"></th>
    </tr>
  </thead>


  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td tyle="">
          <%= link_to project.title, project %>
          <%= raw(getContentIcons(project)) %>
        </td>
        <td style="width: 22%"><small><%= project.course.name %></small></td>
        <td style="width: 10%"><%= project.semester %></td>
        <td style="width: 10%"><%= link_to project.person.nick, profile_path(project.person.nick) %></td>
        <!-- <td style="width: 3%"> <span id="project-like-count-<%= project.id %>"><%= project.likes.count %></span>  </td> -->
        <!-- <td style="width: 3%"><%= project.downloadCount %></td> -->
        <!-- <td style="width: 120px"><%= number_with_precision(project.relevance, :precision => 1) %></td> -->
        <td style="width: 120px">
          <!-- <%= link_to raw("<i class=\"icon-zoom-in\"></i>"), project, class: "btn" %> -->
          <% if user_signed_in? %>
            <% if current_user.person==project.person %>
              <small>
                <%= link_to raw("<i class=\"icon-pencil\"></i> Editar"), edit_project_path(project) %>
                 | 
                <%= link_to raw("<i class=\"icon-trash\"></i> Deletar"), project, confirm: 'Tem certeza?', method: :delete %>
              </small>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  
</table>