<div class="muted">
  <%if params[:search] and not params[:search].empty?%>
      Mostrando resultados para: <strong><%=params[:search]%></strong> <%= link_to raw("<i class=\"icon-remove\"></i>"), class: "close nopull" %>
  <% end %>
</div>

<div class="row">
  <div class="">

  <ul class="thumbnails">
  <% @projects.each do |project| %>
    <div class="span3">
      <li>
        <div class="thumbnail">
          
          <!-- Buttons -->
          <div class="row">
            <div class="pull-right">
              <div class="btn-group">
                <% if user_signed_in? %>
                  <% if current_user.person==project.person %>
                    <%= link_to raw("<i class=\"icon-pencil\"></i>"), edit_project_path(project), class: "btn btn-mini" %>
                    <%= link_to raw("<i class=\"icon-remove\"></i>"), project, confirm: 'Tem certeza?', method: :delete, class: "btn btn-mini" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

          <!-- Image, if existing -->
          <% if project.image? %>
            <a href=<%= project_path(project) %> class="thumbnail">
              <%= image_tag project.image %>
            </a>
          <% end %>

          <!-- Info -->
          <h5><%= link_to project.title, project %></h5>
          <p><%= project.course.name %></p>

        </div>
      </li>
    </div>
  <% end %>
  </ul>

</div>

</div>