<table class="table table-striped table-condensed table-hover">
  <thead>
    <tr style="font-style: normal;">
      <th><%= sortable "Título", "title" %></th>
      <th><%= sortable "Disciplina", "course" %></th>
      <th><%= sortable "Semestre", "barra" %></th>
      <% if not @hideAuthors %>
        <th><%= sortable "Autor", "person" %></th>
      <% end %>
      <th>
        <%= sortable "Popularidade
        <a href=\"#\"
        rel=\"popover\"
        data-original-title=\"Popularidade?\"
        data-content=\"É calculada com a seguinte equação:<br><small>10*likes + 7*downloads + 7*linkHits + 5*comments + 1*views</small>\"
        >
        <i class=\"icon-question-sign\"></i></a>
        ", "relevance" %>
      </th>
    </tr>
  </thead>


  <tbody>
    <% @projects.each do |project| %>
      <tr class="project-options-trigger">
        <td style="max-width: 600px">
          <!-- Edit Buttons -->
          <% if user_signed_in? and project.person.user.authorizes?(current_user) %>
            <div class="thumb-buttons">
              <div class="btn-group project-hidden-options">
                <% btnColor = (current_user.admin? and current_user!=project.person.user) ? " btn-danger" : " btn-info" %>
                <%= link_to nav_icon('',"icon-edit"), edit_project_path(project), class: "btn btn-mini"+btnColor %>
                <%= link_to nav_icon('',"icon-trash"), project, confirm: 'Tem certeza?', method: :delete, class: "btn btn-mini"+btnColor %>
              </div>
            </div>
          <% end %>

          <%# The use of raw here is probably bad too, but I dont understand enough to fix it %>
          <a href=<%=url_to_project(project)%> class="title no-decoration">
            <%=project.title%> <%= raw(getContentIcons(project)) %>
            <% if not project.tags.empty? %>
              <br>
              <smaller class="muted">
                <i class="icon-tag"></i>
                <%= project.tags.collect{|t| t.tag_text}.join(" · ") %>
              </smaller>
            <% end %>
          </a>

          
        </td>

        <td style="width: 22%"><small><%= link_to project.course.name, {course: project.course.id} %></small></td>
        

        <td style="width: 10%"><%= project.semester %></td>
        
        <% if not @hideAuthors %>
          <td style="width: 10%"><%= link_to project.person.nick, profile_path(project.person.nick) %></td>
        <% end %>

        <td style="width: 130px">
          <center class="small">
            <%= raw(printProjectPopularityStats(project,"·")) %>
          </center>
        </td>
        
        <!-- <td style="width: 3%"> <span id="project-like-count-<%= project.id %>"><%= project.likes.count %></span>  </td> -->
        <!-- <td style="width: 3%"><%= project.downloadCount %></td> -->
        <!-- <td style="width: 120px"><%= number_with_precision(project.relevance, :precision => 1) %></td> -->
      </tr>
    <% end %>
  </tbody>
  
</table>