<h1>Projetos</h1>

<div class="accordion" id="accordion">

	<div class="accordion-group">
		<% collapseId = 0 %>
		<% @projects.each do |project| %>

		<div class="accordion-heading">
			<a class="accordion-toggle no-decoration" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=collapseId%>">
				<small>
					<div class="muted pull-right">
						<i class="icon-thumbs-up"></i> <%=project.likeCount %>  
						<i class="icon-eye-open"></i> <%=project.viewCount %>
						<i class="icon-comment"></i> <%=project.comments.count %> 
			        </div>
			    </small>
				<div class="title">
					<%= project.title %>
					<%= raw(getContentIcons(project)) %>
			    </div>
		        <smaller class="muted">
					<span>
						<i class="icon-book"></i> <%= project.course.name %> (<%= project.semester %>)
					</span>
					<% if not project.tags.empty? %>
						<br>
						<i class="icon-tag"></i>
						<%= project.tags.collect{|t| t.tag_text}.join(" · ") %>
					<% end %>
	            </smaller>
			</a>

		</div>

		<div id="collapse<%=collapseId%>" class="accordion-body collapse">
			<div class="accordion-inner">
				
				<div class="pull-right">
					<%= link_to raw("<i class=\"icon-zoom-in\"></i> Mais detalhes"), project_path(project) %>
					<% if user_signed_in? %>
						<% if project.people.include?(current_user.person) %>
							<small><div>
								<%= link_to raw("<i class=\"icon-edit\"></i> Editar"), edit_project_path(project) %>
								| 
								<%= link_to raw("<i class=\"icon-trash\"></i> Deletar"), project, confirm: 'Tem certeza?', method: :delete %>
							</div></small>
						<% end %>
					<% end %>
				</div>
					<p>
						<%= simple_format(project.description) %>
					</p>
			</div>
		</div>

		<% collapseId+=1 %>
		<% end %>

	</div>

</div>