<!-- <div class="media">

  <% @projects.each do |project| %>
    <a class="pull-left" href="#">
      <%= image_tag project.image.url %>
    </a>

    <div class="media-body">
      <h4 class="media-heading"><%=project.title%></h4>
      <%=project.description%>
    </div>
  <% end %>

</div> -->

<table class="table table-striped table-condensed table-hover">

  <tbody>
    <% @projects.each do |project| %>
      <tr class="project-options-trigger">
        <td style="max-width: 600px">
          <!-- Edit Buttons -->
          <% if user_signed_in? and project.canBeEditedBy?(current_user) %>
            <div class="thumb-buttons">
              <div class="btn-group project-hidden-options">
                <% btnColor = (current_user.admin? and not project.people.include?(current_user.person)) ? " btn-danger" : " btn-info" %>
                <%= link_to nav_icon('',"icon-pencil"), edit_project_path(project), class: "btn btn-mini"+btnColor %>
                <%= link_to nav_icon('',"icon-trash"), project, confirm: 'Tem certeza?', method: :delete, class: "btn btn-mini"+btnColor %>
              </div>
            </div>
          <% end %>

          <a href=<%=url_to_project(project)%> class="title no-decoration">
            <!-- Project title -->
            <%=project.title%> <%= raw(getContentIcons(project)) %>

            <!-- Authors -->
            <br>
            <smaller>
              <span class="muted">
                <% if project.people.size==1 %>
                  <i class="icon-user"></i>
                <% else %>
                  <i class="icon-group"></i>
                <% end %>
                <%= project.people.collect { |p| p.nick }.join(", ").html_safe %>
              </span>
            </smaller>
            
            <!-- Tags -->
            <% if not project.tags.empty? %>
              <br>
              <smaller class="muted">
                <i class="icon-tag"></i>
                <%= project.tags.collect{|t| t.tag_text}.join(" · ") %>
              </smaller>
            <% end %>
          </a>

          
        </td>

        <td style="width: 30%">
          <small>
            <span class="muted"><i class="icon-book"></i></span>
            <%= link_to_course project.course %> (<%= project.semester %>)
          </small>
        </td>

        <td style="width: 130px">
          <center class="small">
            <%= raw(printProjectPopularityStats(project,"·")) %>
          </div>
        </td>
        
        <!-- <td style="width: 3%"> <span id="project-like-count-<%= project.id %>"><%= project.likeCount %></span>  </td> -->
        <!-- <td style="width: 3%"><%= project.downloadCount %></td> -->
        <!-- <td style="width: 120px"><%= number_with_precision(project.relevance, :precision => 1) %></td> -->
      </tr>
    <% end %>
  </tbody>
  
</table>