<h1>Explorar</h1>

<br>

<div class="content">

<!-- filtering and searching forms -->
<center>
  <%= form_tag projects_path, method: 'get', class: "form-search" do %>
      <div class="field">
        <%= select :course, :id, Course.all.collect {|p| [p.name, p.id] }, { :include_blank => true }, {"data-placeholder" => "Filtrar por disciplina", class: "chzn-select"} %>
        <%= submit_tag "Filtrar", class: "btn", name: nil %>
      </div>
  <% end %>
</center>
<%= form_tag projects_path, method: 'get', class: "form-search" do %>
    <div class="field">
      <div class="input-append row-fluid">
        <%= text_field_tag :search, params[:search], class: "search-query input-xlarge", placeholder: "Busca por título ou descrição" %>
        <%= submit_tag "Pesquisar", class: "btn", name: nil %>
      </div>
    </div>
<% end %>


<!-- Button group for choosing view (list or thumbnail) -->
<div class="row">
  <%= render 'viewmodes_buttons' %>
</div>

<!-- The listing itself -->
<div id="projects-table" class="clearfix"> 
  <% if @viewMode == :thumbs %>
    <%= render 'projects_thumbs' %>
  <% else %>
    <%= render 'projects_list' %>
  <% end %>
</div>

</div>

<% if user_signed_in? %>
  <center>
    <%= link_to raw("<i class=\"icon-plus\"></i> Novo Projeto"), new_project_path, class: "btn btn-success btn-large" %>
  </center>
<% end %>
