<h1>Explorar</h1>

<br>

<div class="content">

<div>
  <center>
    <% if user_signed_in?
      dest = new_project_path;
    else
      dest = new_user_session_path
    end %>
    <%= link_to raw("<i class=\"icon-plus\"></i> Novo Projeto"), dest, class: "btn btn-success btn-large" %>
  </center>
</div>

<br>

<!-- Course Filter Form -->
<center>
  <%= form_tag projects_path, method: 'get', class: "form-search" do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <%= hidden_field_tag :view, params[:view] %>
      <!-- no hidden field for search, which means that the search will be reseted when changing this filter -->
      <div class="field">
        <%= select_tag :course,  options_for_select(Course.all.collect {|p| ["#{p.name} (#{p.projects.size})", p.id] }), :include_blank => true , "data-placeholder" => "Filtrar por disciplina...", class: "chzn-select" %>
        <%= submit_tag "Ir", class: "btn", name: nil, style: "margin-top: -20px;" %>
      </div>
  <% end %>
</center>

<br>
<br>

<div class="row-fluid">
  <!-- Search Form --> 
  <div class="pull-left">
    <%= form_tag projects_path, method: 'get', class: "form-search" do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <%= hidden_field_tag :view, params[:view] %>
      <%= hidden_field_tag :course, params[:course] %>
      <div class="input-append">
        <%= text_field_tag :search, params[:search], class: "search-query input-xlarge", placeholder: "Busca por título ou descrição" %>
        <%= submit_tag "Pesquisar", class: "btn", name: nil %>
      </div>
    <% end %>
  </div>

  <!-- Button group for choosing view (list or thumbnail) -->
  <div class="pull-right">
    <%= render 'viewmodes_buttons' %>
  </div>

</div>

<!-- The listing itself -->
<div id="projects-table" class="clearfix"> 
  <%= render 'projects_dynamic_listing' %>
</div>

</div>

<center>
  <% if user_signed_in?
    dest = new_project_path;
  else
    dest = new_user_session_path
  end %>
  <%= link_to raw("<i class=\"icon-plus\"></i> Novo Projeto"), dest, class: "btn btn-success btn-large" %>
</center>
