<h1>Explorar</h1>

<br>

<div class="content">

	<div>
	  <center>
		<%= link_to raw("<i class=\"icon-plus\"></i> Novo Projeto"), new_project_path, class: "btn btn-success btn-large" %>
	  </center>
	</div>

	<br>

	<!-- Course Filter Form -->
	<center>
	  <%= form_tag projects_path, method: 'get' do %>
		  <%= hidden_field_tag :direction, params[:direction] %>
		  <%= hidden_field_tag :sort, params[:sort] %>
		  <%= hidden_field_tag :view, params[:view] %>
		  <!-- no hidden field for search, which means that the search will be reseted when changing this filter -->
		  <div class="field">
			<%= select_tag :course,  options_for_select(Course.all.collect {|p| ["#{p.name} (#{p.projects.size})", p.id] }), :include_blank => true , "data-placeholder" => "Filtrar por disciplina...", class: "chzn-select", :onchange => 'this.form.submit()' %>
		  </div>
	  <% end %>
	</center>

	<br>
	<br>

	<div class="row-fluid">
		<!-- Search Form --> 
		<div class="span4">
			<div class="pull-left">
				<div class="mysearch">
					<%= form_tag projects_path, method: 'get', class: "form-search" do %>
						<%= hidden_field_tag :direction, params[:direction] %>
						<%= hidden_field_tag :sort, params[:sort] %>
						<%= hidden_field_tag :view, params[:view] %>
						<%= hidden_field_tag :course, params[:course] %>
						<i class="icon-search"></i>
						<%= text_field_tag :search, params[:search], class: "search-query input-xlarge", placeholder: "Título / Descrição / Tags" %>
					<% end %>
				</div>
			</div>
		</div>

		<!-- "Sort By" option -->
		<div class="span4">
			<center>
				<%= form_tag projects_path, method: 'get' do %>
					<%= hidden_field_tag :sort, params[:sort] %>
					<%= hidden_field_tag :view, params[:view] %>
					<%= hidden_field_tag :course, params[:course] %>
					Ordenar por 
					<%= select_tag :sort, options_for_select({"Popularidade"=>"relevance","Data do upload" => "date","Título"=>"title","Semestre"=>"barra","Disciplina"=>"course","Autor"=>"person"}, selected: @column), class: "input-medium", style: "margin: 0;", :onchange => 'this.form.submit()' %>
					<%= select_tag :direction, options_for_select(["asc","desc"], selected: @direction), class: "input-small", style: "margin: 0;", :onchange => 'this.form.submit()' %>
				<% end %>
			</center>
		</div>

		<!-- Button group for choosing view (list or thumbnail) -->
		<div class="span4">
			<div class="pull-right">
				<%= render 'viewmodes_buttons' %>
			</div>
		</div>

	</div>

	<!-- The listing itself -->
	<div id="projects-table" class="clearfix"> 
	  <%= render 'projects_dynamic_listing' %>
	</div>

	<br>
	<br>

	<center>
	  <%= link_to raw("<i class=\"icon-plus\"></i> Novo Projeto"), new_project_path, class: "btn btn-success btn-large" %>
	</center>

</div>
