<h1>Projetos</h1>

<br>

<div class="content">

<!-- Search Form -->
<%= form_tag projects_path, method: 'get', remote: true, class: "form-search" do %>
    <div class="field">
      <div class="input-append row-fluid">
        <%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Busca por título ou descrição" %>
        <%= submit_tag "Pesquisar", class: "btn", name: nil %>
      </div>
    </div>
<% end %>

<!-- Projects list -->

<!-- Button group for choosing view (list or thumbnail) -->
<div class="pull-right btn-toolbar">
  <div class="btn-group">
    <% thisClass = "btn" %>
    <% if @viewMode == :list %>
      <% thisClass += " active" %>
    <% end %>
    <%= link_to raw("<i class=\"icon-list-alt\"></i>"), {:view => "list"}, class: thisClass %>
    
    <% thisClass = "btn" %>
    <% if @viewMode == :thumbs %>
      <% thisClass += " active" %>
    <% end %>
    <%= link_to raw("<i class=\"icon-th\"></i>"), {:view => "thumbs"}, class: thisClass %>
  </div>
</div>

<!-- The listing itself -->
<div id="projects-list" class="clearfix"> 
  <% if @viewMode == :thumbs %>
    <%= render 'projects_thumbs' %>
  <% else %>
    <%= render 'projects_list' %>
  <% end %>
</div>

</div>

<% if user_signed_in? %>
  <%= link_to raw("<i class=\"icon-plus\"></i> Novo Projeto"), new_project_path, class: "btn btn-success" %>
<% end %>
