<h1>
	Explorar
	<% if user_signed_in? %>
		<div class="pull-right">
			<%= link_to raw("<i class=\"icon-plus\"></i> Novo Projeto"), new_project_path, class: "btn btn-success" %>
		</div>
	<% end %>
</h1>

<br>

<div class="content">

	<!-- Course Filter Form -->
	<center>
		<%= form_tag projects_path, method: 'get' do %>
		  <%= hidden_field_tag :direction, params[:direction] %>
		  <%= hidden_field_tag :sort, params[:sort] %>
		  <%= hidden_field_tag :view, params[:view] %>
		  <!-- no hidden field for search, which means that the search will be reseted when changing this filter -->
		  <div class="field big-chosen">
			<%= select_tag :course,  options_for_select(Course.all.collect {|p| ["#{p.name} (#{p.projects.size})", p.id] }), :include_blank => true , "data-placeholder" => "Filtrar por disciplina...", class: "chzn-select", :onchange => 'this.form.submit()' %>
		  </div>
		<% end %>

		<!-- Shows actual course filter, if filtered -->
		<%if params[:course] and !params[:course].empty? %>
			<legend>
				<!-- <i class="icon-filter icon-mini"></i> -->
				<strong><%=@course.name%></strong> <%= link_to raw("<i class=\"icon-remove muted\"></i>"), params.merge(course: nil), class: "no-decoration" %>
			</legend>
		<% else %>

		<% end %>
	</center>

	<br>

	<!-- Options at the top of the table -->
	<div class="row-fluid ctrlbar">
		<!-- Search Form --> 
		<div class="span3">
			<div class="pull-left">
				<%= render 'shared/search_form', destinyPath: projects_path, placeholder: "Título / Descrição / Tag" %>
			</div>
		</div>

		<!-- "Sort By" option -->
		<div class="span6">
			<center>
				<%= render 'shared/sort_by_buttons',
						destinyPath: projects_path,
						sortbyOptions: options_for_select({"Popularidade"=>"relevance",
															"Data do upload" => "date",
															"Título"=>"title",
															"Semestre"=>"barra",
															"Disciplina"=>"course",
															"Autor"=>"person"},
														selected: @column) %>
			</center>
		</div>

		<!-- Button group for choosing view (list or thumbnail) -->
		<div class="span3">
			<div class="pull-right">
				<%= render 'shared/viewmodes_buttons' %>
			</div>
		</div>

	</div>

	<!-- The listing itself -->
	<div id="projects-table" class="clearfix"> 
	  <%= render 'projects_dynamic_listing' %>
	</div>

	<br>
	<br>

	<center>
	  <%= link_to raw("<i class=\"icon-plus\"></i> Novo Projeto"), new_project_path, class: "btn btn-success btn-large" %>
	</center>

</div>
