<div class="content">

	<% hasSelectedCourse = (params[:course] and !params[:course].empty?) %>

	<h2>
		<%= title "Trabalhos" %>
		<% if hasSelectedCourse %>
			<text class="text-error">/</text>
				<small class="blacktext">
					<i class="icon-book"></i>
					<%= @course.name %>
					<%= link_to raw("<i class=\"icon-remove\"></i>"), params.merge(course: nil), class: "close no-decoration", style: "float: none;" %>
				</small>
		<% end %>
	</h2>

	<!-- Course Filter Form -->
	<% if not hasSelectedCourse %>
		<div class="text-center">
			<div id="courseSelector">
				<%= form_tag projects_path, method: 'get' do %>
					<%= hidden_field_tag :direction, params[:direction] %>
					<%= hidden_field_tag :sort, params[:sort] %>
					<%= hidden_field_tag :view, params[:view] %>
					<!-- no hidden field for search, which means that the search will be reseted when changing this filter -->
					<div class="field big-chosen">
						<%= render "shared/course_selector", placeholder: "<i class=\"icon-book\"></i> Filtrar por disciplina..." %>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>

	<br>

	<%= render "shared/project_ctrlbar",
				sortbyOptions: {"Popularidade"=>"relevance",
								"Data adicionado" => "date",
								"Título"=>"title",
								"Semestre"=>"barra",
								"Likes"=>"likes"} %>

	<!-- The listing itself -->
	<div class="row-fluid" id="projects-table"> 
		<%= render 'projects_dynamic_listing', projects: @projects %>
	</div>

	<br>
	<br>

	<div class="text-center">
	  <% #link_to raw("<i class=\"icon-plus\"></i> Adicionar trabalho"), new_project_path(course_id: params[:course]), class: "btn btn-success btn-large" %>
	</div>

</div>
