<h1>Projetos</h1>

<br>

<table class="table table-striped table-hover">
  <tr>
    <th>Título</th>
    <th>Curso</th>
    <th>Dono</th>
    <th colspan="3"></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.title %> (Likes <%= project.likes.count %>)</td>
    <td><%= project.course.name %></td>
    <td><%= link_to project.person.name, profile_path(project.person.nick) %></td>
    <td>
      <div class="btn-group">
        <%= link_to 'Detalhes', project, class: "btn btn-mini" %>
        <% if user_signed_in? %>
          <% if current_user.person==project.person %>
            <%= link_to 'Editar', edit_project_path(project), class: "btn btn-mini" %>
            <%= link_to 'Deletar', project, confirm: 'Tem certeza?', method: :delete, class: "btn btn-mini" %>
          <% end %>
          <%= link_to 'Like', like_project_path(project), remote: true, class: "btn btn-mini" %>
        <% end %>
      </div>
    </td>

  </tr>
<% end %>
</table>

<br />

<% if user_signed_in? %>
  <a href=<%=new_project_path%> >
    <button class="btn btn-success"><i class="icon-plus"></i> Novo Projeto</button>
  </a>
<% end %>
