<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Owner:</b>
  <%= link_to @project.person.name, @project.person %>
</p>

<p>
  <b>Course:</b>
  <%= @project.course.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Date:</b>
  <%= @project.date %>
</p>

<a href=<%=projects_path%> class="btn btn-mini"> <i class="icon-arrow-left"></i> Back</a>
<a href=<%=edit_project_path(@project)%> class="btn btn-mini"> <i class="icon-edit"></i> Edit</a>