<div class="content">

<div class="container-fluid center">

<legend>
Detalhes de projeto
<div class="pull-right">
  <% if user_signed_in? and current_user.person==@project.person %>
    <%= link_to raw("<i class=\"icon-pencil\"></i> Editar"), edit_project_path(@project) %>
  <% end %>
</div>
</legend>

<h2 class="projectname-text"> <%= @project.title %> </h2>

<% if @project.image? %>
  <p>
    <center>
      <%= image_tag @project.image.url %>
    </center>
  </p>
<% end %>

<div class="row-fluid">
  <div class="block span12">
    <div class="span9">
      <b>Descrição:</b>
      <%= simple_format(@project.description) %>

      <p>
        <ul class="tags clearfix">
        <% @project.tags.each do |tag| %>
          <li> <%= link_to tag.tag_text, "#" %> </li>
        <% end %>
        </ul>
      </p>
    </div>

    <div class="span3">
      <p> 
        <span id="project-like-count-<%= @project.id %>"><%= @project.likes.count %></span>
        <% if user_signed_in? %>
          <%= link_to raw("<i class=\"icon-thumbs-up\"></i> Curtir"), like_project_path(@project), remote: true %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<br>

<div class="row-fluid">
  <div class="block span6">
    <p>
      <b>Autor:</b>
      <%= link_to @project.person.nick, profile_path(@project.person.nick) %>
    </p>

    <p>
      <b>Disciplina:</b>
      <%= @project.course.name %>
    </p>
    
    <p>
      <b>Semestre:</b>
      <%= @project.semester %>
    </p>
  </div>

  <div class="block span6">
    <p>
      <b>Arquivos:</b>
      <ul>
        <% if @project.file? %>
          <li> <%= link_to "#{@project.file.original_filename} (#{@project.file.size/1024} Kb)", project_download_path(@project) %> <span class="badge"><%=@project.downloadCount%> hits</span> </li>
        <% end %>
      </ul>
    </p>        
  </div>
</div>


</div>
</div>