<p>
  <b>Título:</b>
  <%= @project.title %>
</p>

<p>
  <b>Dono:</b>
  <%= link_to @project.person.name, @project.person %>
</p>

<p>
  <b>Disciplina:</b>
  <%= @project.course.name %>
</p>

<p>
  <b>Descrição:</b>
  <%= @project.description %>
</p>

<p>
  <b>Data:</b>
  <%= @project.date %>
</p>


<a href=<%=projects_path%> class="btn btn-mini"> <i class="icon-arrow-left"></i> Voltar</a>

<% if user_signed_in? and current_user.person==@project.person %>
  <a href=<%=edit_person_path(@person)%> class="btn btn-mini"> <i class="icon-edit"></i> Editar</a>
<% end %>