<p>
  <b>Título:</b>
  <%= @project.title %>
</p>

<p>
  <b>Dono:</b>
  <%= link_to @project.person.name, profile_path(@project.person.nick) %>
</p>

<p>
  <b>Disciplina:</b>
  <%= @project.course.name %>
</p>

<p>
  <b>Descrição:</b>
  <%= @project.description %>
</p>

<p>
  <b>Semestre:</b>
  <%= @project.semester %>
</p>

<p>
  <b>Tags:</b>
  <% @project.tags.each do |tag| %>
    <%= tag.tag_text %> 
  <% end %>
</p>

<%= link_to raw("<i class=\"icon-arrow-left\"></i> Voltar"), projects_path, class: "btn btn-mini" %>

<% if user_signed_in? and current_user.person==@project.person %>
  <%= link_to raw("<i class=\"icon-pencil\"></i> Editar"), edit_project_path(@project), class: "btn btn-mini" %>
<% end %>