<div class="content">

<div class="container-fluid center">

<legend>
Detalhes de projeto
<% if user_signed_in? and current_user.person==@project.person %>
  <%= link_to raw("<i class=\"icon-pencil\"></i> Editar"), edit_project_path(@project), class: "btn btn-info" %>
<% end %>
</legend>

<h2 class="projectname-text"> <%= @project.title %> </h2>

<% if @project.image? %>
  <p>
    <center>
      <%= image_tag @project.image.url %>
    </center>
  </p>
<% end %>

<div class="row-fluid">
  <div class="block span12">
    <div class="span9">
      <b>Descrição:</b>
      <%= simple_format(@project.description) %>

      <p>
        <ul class="tags clearfix">
        <% @project.tags.each do |tag| %>
          <li> <%= link_to tag.tag_text, "#" %> </li>
        <% end %>
        </ul>
      </p>
    </div>

    <div class="span3">
      <p>
        <i class="icon-thumbs-up"></i>
        <span id="project-like-count-<%= @project.id %>"><%= @project.likes.count %></span>
        
        <% if user_signed_in? %>
        <%  likeClass = unlikeClass = ""
            if (current_user.person.likes.include?(@project))
              likeClass = "hidden"
            else
              unlikeClass = "hidden"
            end %>
            <%= link_to raw(" Curtir"), like_project_path(@project), remote: true, class: likeClass, id: "project-like-action-"+@project.id.to_s %>
            <%= link_to raw(" Curtir (desfazer)"), unlike_project_path(@project), remote: true, class: unlikeClass, id: "project-unlike-action-"+@project.id.to_s %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<br>

<div class="row-fluid">
  <div class="block span6">
    <p>
      <b>Autor:</b>
      <%= link_to @project.person.nick, profile_path(@project.person.nick) %>
    </p>

    <p>
      <b>Disciplina:</b>
      <%= @project.course.name %>
    </p>
    
    <p>
      <b>Semestre:</b>
      <%= @project.semester %>
    </p>
  </div>

  <div class="block span6">
    <p>
      <b>Arquivos:</b>
      <ul>
        <% if @project.file? %>
          <li> <%= link_to "#{@project.file.original_filename} (#{@project.file.size/1024} Kb)", project_download_path(@project) %> <span class="badge"><%=@project.downloadCount%> hits</span> </li>
        <% end %>
      </ul>
    </p>        
  </div>
</div>
<br>
<div class="row-fluid">
  <div class="block span12">
    <p>
      <strong>Comentários ( <%= @project.comments.count %> ):</strong>
      <% if @project.comments.count > 0 %>
        <% @project.comments.sort_by! {|x| x.created_at} %>
        <ul>
          <% @project.comments.each do |c| %>
            <li><%= c.person.name + ": " + c.text %></li>
          <% end %>
        </ul>
      <% end %>
    </p>
    <p>
      <% if user_signed_in? %>
        <%= form_for(Comment.new) do |f| %>
          <%= f.hidden_field :project_id, value: @project.id %>
          <%= f.hidden_field :person_id, value: current_user.person.id %>
          <div class="field">
            <%= f.text_field :text, placeholder: "Escreva seu comentário..." %>
            <%= f.submit "Enviar", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% end %>
    </p>
  </div>
</div>


</div>
</div>