<div class="content">

	<h2>
		<%= title "Busca Geral" %>
	</h2>


	<!-- Showing results for... -->
	<%= render 'shared/search_result_title' %>


	<h3><i class="icon-chevron-right text-error"></i> <%= link_to raw("Trabalhos <span class=\"muted\">· #{@totalProjects}</span>"), projects_path(q: @query), class: "no-decoration blacktext" %></h3>
	<% if @totalProjects>0 %>
		<!-- Mostrando <b><%= @projects.size %></b> <%= @projects.size==1 ? "resultado" : "resultados" %> de <b><%= @totalProjects %></b>. -->
		<div id="projects-table"> 
			<%= render 'projects/projects_table', projects: @projects %>
		</div>

		<% if @projects.size < @totalProjects %>
			<center>
				<%= link_to raw("Ver todos resultados <i class=\"icon-double-angle-right text-error\"></i>"), projects_path(q: @query) %>
			</center>
		<% end %>

	<% end %>

	<h3><i class="icon-chevron-right text-error"></i> <%= link_to raw("Usuários <span class=\"muted\">· #{@totalPeople}</span>"), people_path(q: @query), class: "no-decoration blacktext" %></h3>
	<% if @totalPeople>0 %>
		<!-- Mostrando <b><%= @people.size %></b> <%= @people.size==1 ? "resultado" : "resultados" %> de <b><%= @totalPeople %></b>. -->

		<div id="people-table" class="clearfix"> 
			<%= render 'people/people_thumbs', projects: @projects %>
		</div>

		<% if @people.size < @totalPeople %>
			<center>
				<%= link_to raw("Ver todos resultados <i class=\"icon-double-angle-right text-error\"></i>"), people_path(q: @query) %>
			</center>
		<% end %>

	<% end %>

	<h3><i class="icon-chevron-right text-error"></i> Disciplinas <span class="muted">· <%=@totalCourses%></span></h3>
	<% if @totalCourses>0 %>
		<!-- Mostrando <b><%= @courses.size %></b> <%= @courses.size==1 ? "resultado" : "resultados" %> de <b><%= @totalCourses %></b>. -->
		<div class="multi-column">
			<ul id="triple">
			    <% @courses.each do |c| %>
			        <li><%= link_to_course c %></li>
			    <% end %>
		    </ul>
		</div>
	<% end %>

	<h3><i class="icon-chevron-right text-error"></i> Tags <span class="muted">· <%=@totalTags%></span></h3>
	<% if @totalTags>0 %>
		<!-- Mostrando <b><%= @courses.size %></b> <%= @courses.size==1 ? "resultado" : "resultados" %> de <b><%= @totalCourses %></b>. -->
		<div class="multi-column">
			<ul id="quad">
			    <% @tags.each do |t| %>
			        <li>
			        	<div class="tag-single">
			        		<%= link_to t.tag_text, t %>
			        	</div>
			        </li>
			    <% end %>
		    </ul>
		</div>
	<% end %>

</div>