<div class="content">

	<h2><%= title "Novo Cadastro" %></h2>

	<div class="margin-left">

		<%= form_for([resource, resource.with_person], :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>

			<%= f.fields_for :person do |person_builder| %>
				<%= person_builder.hidden_field :nick %>
				<div class="field">
					<%= person_builder.label "Nome (tu podes mudá-lo depois)" %><br />
					<%= person_builder.text_field :name, required: true %>
				</div>
			<% end %>

			Email do INF<br />
			<div class="input-append">
				<%= f.text_field :email, required: true, class: "input-medium" %>
				<span class="add-on">@inf.ufrgs.br</span>
			</div>

			<div><%= f.label "Senha" %><br />
			<%= f.password_field :password, required: true %></div>

			<div><%= f.label "Confirmação da senha" %><br />
			<%= f.password_field :password_confirmation, required: true %></div>

			<br>

			<div><%= f.submit "Cadastrar", class: "btn btn-primary btn-large" %></div>
		<% end %>

	</div>

</div>