<h2>Cadastro</h2>


<%= form_for([resource, resource.with_person], :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.fields_for :person do |person_builder| %>
    <div class="field">
      <%= person_builder.label "Nome" %><br />
      <%= person_builder.text_field :name %>
    </div>

    <div class="field">
      <%= person_builder.label "Semestre" %><br />
      <%= person_builder.text_field :semester_year, type: "number", maxlength: "4", class: "input-small", placeholder: "ano"%>/
      <%= person_builder.select :semester_sem, ["1","2"], {:include_blank => "-"} %><br />
    </div>  

    <div class="input-prepend">
      <span class="add-on">redesocialdainf/</span><%= person_builder.text_field :nick, placeholder: "nick" %>
    </div>    
  <% end %>

  <div><%= f.label "Email da INF" %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label "Senha" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label "Confirmação da senha" %><br />
  <%= f.password_field :password_confirmation %></div>

  <br>

  <div><%= f.submit "Registrar", class: "btn btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>
