<div class="content">
	<h2><%= title "Resetar senha" %></h2>

	<br>

	<div class="well row-fluid">
		<div class="offset3 span6">
			<%= form_for(:user, :url => confirmation_path(:user), :html => { :method => :post }) do |f| %>
				<%= devise_error_messages! %>
				<%= f.email_field :email, required: true, class: "input-large", placeholder: "Email cadastrado" %>
				<%= f.submit "Reenviar", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>

</div>
