<h1>Disciplinas</h1>

<div class="content">

<center>
  <%= link_to raw("<i class=\"icon-plus\"></i> Adicionar Disciplina"), new_course_path, class: "btn" %>

  <br>
  <br>

  <table class="table table-striped table-condensed", style="width: 650px;">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Código</th>
        <th>Projetos</th>
        <th></th>
      </tr>
    </thead>

  <% @courses.each do |course| %>
    <tr class="project-options-trigger">
      <td>
        <%= course.name %>
      </td>

      <td><%= course.code %></td>

      <td><%= course.projects.count %></td>

      <td>
        <div class="pull-right project-hidden-options">
          <%= link_to raw("<i class=\"icon-pencil\"></i>"), edit_course_path(course) %>
          <%= link_to raw("<i class=\"icon-trash\"></i>"), course, confirm: 'o rly?', method: :delete %>
        </div>
      </td>

    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to raw("<i class=\"icon-plus\"></i> Adicionar Disciplina"), new_course_path, class: "btn" %>

</center>

</div>