<h2>Entrar</h2>

<br>

<div class="row-fluid">
	<div class="offset3 span6">
		<%= form_for resource, :as => resource_name, :url => session_path(resource_name), html: {class: "form-inline"} do |f| %>
			<%= f.email_field :email, required: true, class: "input-medium", placeholder: "Email" %>
			<%= f.password_field :password, required: true, class: "input-medium", placeholder: "Senha" %>
			<% if devise_mapping.rememberable? -%>
				<label class="checkbox">
					<%= f.check_box :remember_me %> Manter logado
			    </label>
			<% end %>
			<%= f.submit "Entrar", class: "btn btn-primary"%>
		<% end %>
		
		<hr>

		<center>
			<%= render "devise/shared/links" %>
		</center>

	</div>
</div>
