<div class="content">

	<h2>
		<%= title "Tags" %>
	</h2>

	<br>

	<!-- Tag Cloud -->
	<div class="row-fluid">
		<%= render "shared/tag_cloud" %>
	</div>
	
	<br>
	<br>

	<center>
		<div class="muted well well-small" style="width: 40%;">
			<i class="icon-tag"></i> Mostrando <strong><%= @numResults %></strong> <%= @numResults==1 ? "projeto" : "projetos" %> com a tag
			<div class="tag-single">
		    	<%= @tag.tag_text %>
			</div>			
		</div>
	</center>

	<br>

	<%= render "shared/project_ctrlbar", sortbyOptions: {"Popularidade"=>"relevance",
															"Recente" => "date",
															"Título"=>"title",
															"Semestre"=>"barra",
															"Likes"=>"likes"} %>

	<!-- The listing itself -->
	<div id="projects-table" class="clearfix"> 
		<%= render 'projects/projects_dynamic_listing' %>
	</div>

</div>
